#web_404 {

    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-e9);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    margin: 0px;
    padding: 0px;

}

#inital_max_404 {

    position: relative;
    display: grid;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    place-content: center;
    overflow: hidden;

}

#initial_content_404 {

    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30vh 40vh;
    grid-template-areas:
        "p h2"
        "p h3"
    ;
    width: 100%;
    max-width: 1200px;
    height: 60vh;
    overflow: hidden;

}

#initial_content_404 #h2_404 {

    display: flex;
    grid-area: h2;
    align-items: center;
    justify-content: center;

}

#initial_content_404 span {

    font-family: var(--font-bttn-fuell);
    font-size: 30vh;
    color: rgb(110, 104, 104);

}

#initial_content_404 span img {

    width: 21vh;
    -webkit-animation: 7s wheel linear infinite;
    animation: 7s wheel linear infinite;

}

#initial_content_404 #h3_404 {

    display: flex;
    align-items: center;
    justify-content: start;
    grid-area: h3;
    flex-direction: column;

}

#initial_content_404 h3 {

    font-family: var(--font-social);
    font-size: 4.2vh;
    color: rgb(110, 104, 104);

}

#initial_content_404 h3:first-child {

    margin-bottom: 5px;

}

#initial_content_404 h3:nth-child(2) {

    margin-bottom: 10px;

}


#initial_content_404 p {

    font-family: var(--font-social);
    font-size: 3vh;
    color: rgb(110, 104, 104);

}

#initial_content_404 a {

    font-size: 3vh;
    font-weight: 900;
    font-family: var(--font-bttn-fuell);
    text-decoration: underline;

}

#initial_content_404 #prada {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: end;
    grid-area: p;

}


#initial_content_404 #prada img {

    height: 47vh;


}