#web_404 {

    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-e9);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    margin: 0px;
    padding: 0px;

}

#inital_max_404 {

    position: relative;
    display: grid;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    place-content: center;
    overflow: hidden;
    /* background-color: blue; */

}

#initial_content_404 {

    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30vh 40vh;
    grid-template-areas:
        "p h2"
        "p h3"
    ;
    width: 100vw;
    height: 80vh;
    max-width: 1200px;
    overflow: hidden;
    /* background-color: aqua; */

}

#content_404 {}

#initial_content_404 #h2_404 {

    display: flex;
    grid-area: h2;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blue;
}

#initial_content_404 span {

    font-family: var(--font-bttn-fuell);
    font-size: 30vh;
    color: rgb(110, 104, 104);
}

#initial_content_404 span img {

    width: 21vh;
    margin: 0px 0px;
    -webkit-animation: 7s wheel linear infinite;
    animation: 7s wheel linear infinite;

}

#initial_content_404 #h3_404 {

    display: flex;
    align-items: center;
    grid-area: h3;
    flex-direction: column;
    background-color: blueviolet;


}

#initial_content_404 h3 {

    font-family: var(--font-social);
    font-size: 6vh;
    color: rgb(110, 104, 104);
    margin-bottom: 40px;

}

#initial_content_404 p {

    font-family: var(--font-social);
    font-size: 3vh;
    color: rgb(110, 104, 104);

}

#initial_content_404 a {


    font-size: 3vh;
    font-weight: 900;
    font-family: var(--font-bttn-fuell);


}


#initial_content_404 #prada {

    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: p;
    background-color: aqua;

}


#initial_content_404 #prada img {

    height: 48vh;


}