@font-face {

    font-family: "montserrat-bolt";
    src: url(/fonts/Montserrat-Bold.ttf);

}

@font-face {

    font-family: "websymbols";
    src: url(/fonts/websymbols-regular-webfont.ttf);

}

@font-face {

    font-family: "hind-bold";
    src: url(/fonts/Hind-Bold.ttf);
}

@font-face {

    font-family: "carter-one";
    src: url(/fonts/CarterOne-Regular.ttf);
}

@font-face {

    font-family: "montserrat-thin";
    src: url(/fonts/Montserrat-Thin.ttf);
}

@font-face {

    font-family: "nunito-sans";
    src: url(/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: "nunito-italic";
    src: url(/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: "roboto";
    src: url(/fonts/Roboto-Thin.ttf);

}

@font-face {

    font-family: "digiti";
    src: url(/fonts/DS-DIGI.TTF);

}

@font-face {

    font-family: "digiti_b";
    src: url(/fonts/DS-DIGIB.TTF);

}

@font-face {

    font-family: "japan";
    src: url(/fonts/JAPAB___.TTF);

}

@font-face {

    font-family: "Windsong";
    src: url(/fonts/Windsong.ttf);

}

@font-face {
    font-family: "roboto-bold";
    src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "greatVibes";
    src: url(/fonts/GreatVibes-Regular.otf);
}

@font-face {
    font-family: "alexBrush";
    src: url(/fonts/AlexBrush-Regular.ttf);
}