@font-face {

    font-family: "montserrat-bolt";
    src: url(/fonts/Montserrat-Bold.ttf);

}

@font-face {

    font-family: "websymbols";
    src: url(/fonts/websymbols-regular-webfont.ttf);

}

@font-face {

    font-family: "hind-bold";
    src: url(/fonts/Hind-Bold.ttf);
}

@font-face {

    font-family: "carter-one";
    src: url(/fonts/CarterOne-Regular.ttf);
}

@font-face {

    font-family: "montserrat-thin";
    src: url(/fonts/Montserrat-Thin.ttf);
}

@font-face {

    font-family: "nunito-sans";
    src: url(/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: "nunito-italic";
    src: url(/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: "roboto";
    src: url(/fonts/Roboto-Thin.ttf);

}

@font-face {

    font-family: "digiti";
    src: url(/fonts/DS-DIGI.TTF);

}

@font-face {

    font-family: "digiti_b";
    src: url(/fonts/DS-DIGIB.TTF);

}

@font-face {

    font-family: "japan";
    src: url(/fonts/JAPAB___.TTF);

}

@font-face {

    font-family: "Windsong";
    src: url(/fonts/Windsong.ttf);

}

@font-face {
    font-family: "roboto-bold";
    src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "greatVibes";
    src: url(/fonts/GreatVibes-Regular.otf);
}

@font-face {
    font-family: "alexBrush";
    src: url(/fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: "icons";
    src: url(/fonts/typeecon.otf);
}

@font-face {
    font-family: "true";
    src: url(/fonts/true-crimes.ttf);
}

@font-face {
    font-family: "marker";
    src: url(/fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "banks20";
    src: url(/fonts/banksb26.ttf);
}

@font-face {
    font-family: "blacboard";
    src: url(/fonts/DK\ Crayon\ Crumble.ttf);
}

@font-face {
    font-family: "nunito-light";
    src: url(/fonts/NunitoSans_7pt_Condensed-Light.ttf);
}

@font-face {
    font-family: "draw";
    src: url(/fonts/FFF_Tusj.ttf);
}

/* @font-face {
    font-family: "balloon";
    src: url(/fonts/BalloonExtraBoldBT.ttf);
} */

@font-face {
    font-family: "nunito-bold";
    src: url(/fonts/NunitoSans_10pt-Black.ttf);
}

/* @font-face {
    font-family: "rust-g";
    src: url(/fonts/IntroRustG-Base2Line.woff);
} */

@font-face {
    font-family: "rust-g";
    src: url(/fonts/Rust\ never\ sleeps.ttf);
}

/* @font-face {
    font-family: "balloon";
    src: url(/fonts/Rust\ never\ sleeps.ttf);
} */