#web_imagenes {

    display: grid;
    grid-template-rows: 860px 101px;
    grid-template-columns: 100%;
    height: 100vh;
    min-height: 961px;
    width: 100%;
    box-sizing: border-box;
}

#inital_max_imagenes {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 860px;
    width: 100%;
    grid-template-columns: 100%;
    place-content: start;
    overflow: hidden;
    z-index: 90;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
}

#spacer_galery_header {

    height: 160px;
    width: 100%;
}

#selector_galery {

    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--white-e9);
    overflow: hidden;
}

#selector_galery_place {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 80;
    background-color: var(--white-e9);
}

.bttn_galery {

    height: 50px;
    width: 200px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: start;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--black-secondary);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--grey-f3);
    border: 0px;
    transition: 200ms ease;
}

.bttn_galery:hover {

    border-right: 10px solid var(--orange-primary);
}

.bttn_galery span {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.bttn_galery span img {

    height: 40px;
    border: .5px solid var(--black-secondary);
    border-radius: 40px;
}

#selector_galery_03_alpes img {

    height: 44px;
}

#selector_galery_galery {

    position: relative;
    border-left: 20px solid var(--black-secondary);
    border-radius: 5px 5px 5px 5px;
    height: 90%;
    width: 96.2%;
    overflow: hidden;
}

.content_images_galery {

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(43, 43, 43, .3);
    overflow: hidden;
}

.img_galery {

    position: absolute;
    object-fit: cover;
    /* cursor: pointer; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

/* ampliar la imagen al tamaño original */

.ampliado {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-out;
}

/* -------- */

.appear_card_galery {

    opacity: 1;
    visibility: visible;
    animation-name: con_card_galery;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 450ms;
    animation-timing-function: ease;
}

@keyframes con_card_galery {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

.border_static {

    border-right: 10px solid var(--orange-primary);
}

/* referente al slider */

/* .slider {

    font-family: var(--font-text);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.slider__item,
.slider__item_FR,
.slider__item_SLV,
.slider__item_IT,
.slider__item_ALB,
.slider__item_ALP,
.slider__item_CRC {

    position: absolute;
    width: 100%;
    height: 100%;
    left: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    border-radius: 0px 5px 5px 0px;

}

.slider__text {
    position: relative;
    font-size: 3vw;
    text-align: center;
    color: #fff;
    z-index: 999;
}

.slider__text p {

    line-height: 5rem;
    background-color: rgb(43, 43, 43, .7);
    padding: 0 3vw;
    border-radius: 5px;
    margin-top: -10px;
}

.slider__arrows {

    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__arrows--left,
.slider__arrows--left_FR,
.slider__arrows--right_FR,
.slider__arrows--right,
.slider__arrows--left_ALP,
.slider__arrows--right_ALP,
.slider__arrows--left_ALB,
.slider__arrows--right_ALB,
.slider__arrows--left_CRC,
.slider__arrows--right_CRC,
.slider__arrows--left_SLV,
.slider__arrows--right_SLV,
.slider__arrows--left_IT,
.slider__arrows--right_IT {

    color: var(--orange-primary);
    text-shadow: 1px 1px #666;
    font-size: 3.5rem;
    padding: 0 2rem;
    cursor: pointer;
    transition: transform .5s, opacity .5s;
}

.slider__arrows--left,
.slider__arrows--left_FR,
.slider__arrows--left_ALB,
.slider__arrows--left_ALP,
.slider__arrows--left_CRC,
.slider__arrows--left_SLV,
.slider__arrows--left_IT {

    margin-left: -3px;
}

.slider__arrows--left:hover,
.slider__arrows--left_FR:hover,
.slider__arrows--left_ALB:hover,
.slider__arrows--left_ALP:hover,
.slider__arrows--left_CRC:hover,
.slider__arrows--left_SLV:hover,
.slider__arrows--left_IT:hover {

    opacity: .6;
    transform: translateX(-5px);
}

.slider__arrows--right:hover,
.slider__arrows--right_FR:hover,
.slider__arrows--right_ALP:hover,
.slider__arrows--right_ALB:hover,
.slider__arrows--right_CRC:hover,
.slider__arrows--right_SLV:hover,
.slider__arrows--right_IT:hover {

    opacity: .6;
    transform: translateX(5px);
} */

.slider_alpes_images {

    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out all;
}

.img_imagenes_galery {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-info_images {
    position: absolute;
    bottom: 20px;
    left: 10%;
    /* transform: translateX(-50%); */
    display: flex;
    transition: 300ms ease all;

}

.indicator-container_images {
    display: flex;
    gap: 5px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: var(--orange-primary);
    transition: 300ms ease;
    /* Puedes ajustar el color activo según tus preferencias */
}

.slider button {

    position: absolute;
    top: 240px;
    /* transform: translateY(-50%); */
    font-size: 60px;
    background: none;
    border: none;
    cursor: pointer;
    height: 50px;
    opacity: .6;
}

.slider .prev:hover {

    left: -1px;
}

.slider .next:hover {

    right: 1px;
}

.slider .prev {

    left: 10px;
    transition: ease 300ms;
    z-index: 999;
}

.slider .prev:hover {

    opacity: .6;
}

.slider .next {

    right: 10px;
    transition: ease 300ms;
    z-index: 999;


}

.slider .next:hover {

    opacity: 1;
}