#web_imagenes {

    display: grid;
    grid-template-rows: 860px 101px;
    grid-template-columns: 100%;
    height: 100v;
    min-height: 961px;
    width: 100%;
}

#inital_max_imagenes {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 860px;
    width: 100%;
    grid-template-columns: 100%;
    place-content: start;
    overflow: hidden;
    z-index: 90;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
}

#spacer_galery_header {

    height: 160px;
    width: 100%;
}

#selector_galery {

    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 90%;
    height: 600px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--white-e9);
    overflow: hidden;
}

#selector_galery_place {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: 80;
    background-color: var(--white-e9);
}

.bttn_galery {

    height: 50px;
    width: 200px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: start;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--black-secondary);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--grey-f3);
    border: 0px;
    transition: 200ms ease;
}

.bttn_galery:hover {

    border-right: 10px solid var(--orange-primary);
}

.bttn_galery span {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.bttn_galery span img {

    height: 40px;
    border: .5px solid var(--black-secondary);
    border-radius: 40px;
}

#selector_galery_03_alpes img {

    height: 44px;
}

#selector_galery_galery {

    position: relative;
    border-left: 20px solid var(--black-secondary);
    border-radius: 5px 5px 5px 5px;
    height: 90%;
    width: 96.2%;
    overflow: hidden;
}

.content_images_galery {

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(43, 43, 43, .3);
    overflow: hidden;
}

.appear_card_galery {

    opacity: 1;
    visibility: visible;
    animation-name: con_card_galery;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 450ms;
    animation-timing-function: ease;
}

@keyframes con_card_galery {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

.border_static {

    border-right: 10px solid var(--orange-primary);
}

#bttn_back_card {

    position: absolute;
    display: flex;
    cursor: pointer;
    height: 44px;
    width: 50px;
    top: 250px;
    left: 0px;
    justify-content: end;
    align-items: center;
    border: 0px;
    /* border-radius: 0px 5px 5px 0px;
    background-color: var(--black-secondary); */
    background-color: rgba(0, 0, 0, 0);
    z-index: 80;
}

#bttn_next_card {

    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    height: 44px;
    width: 50px;
    right: 0px;
    top: 250px;
    border: 0px;
    /* border-radius: 5px 0px 0px 5px;
    background-color: var(--white-e9); */
    background-color: rgba(0, 0, 0, 0);
    z-index: 80;
}

#bttn_back_card img,
#bttn_next_card img {
    height: 40px;
}