#web_la_serie {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 1200px 252px;
    grid-template-columns: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%; */

}

#inital_max_la_serie {

    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    /* background-image: url(/images/back_la_serie_me_free_live_free_ride.webp);
    background-size: cover;
    background-image: center center;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    height: 1200px;
    width: 100%;
    z-index: 90;


}

#pag-02_max_la_serie #spacer_page {

    position: absolute;
    top: -68px;
    height: 120px;
    width: 70vw;
    z-index: 99;
}

#pag-02_max_la_serie #logo_back_text {

    position: absolute;
    top: -42px;
    height: 70px;
    width: 400px;
    animation: 500ms giro_li 300ms ease 1;
    z-index: 100;
}

#pag-02_max_la_serie {

    position: relative;
    display: grid;
    background-color: var(--white-e9);
    justify-items: center;
    height: 1200px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 400px 800px;
    z-index: 90;

}

#description_02_la_serie {

    display: grid;
    place-content: center;
    justify-items: center;
    height: 400px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 100%;
    grid-template-rows: 160px 200px;
    background-color: var(--white-e9);
    z-index: 90;

}

#h2_descript_la_serie {
    position: absolute;
    display: flex;
    top: -35px;
    height: 120px;
    width: 100%;
    justify-content: center;
    font-family: var(--font-true);
    font-size: 3.5rem;
    color: var(--white);
    text-transform: uppercase;


}

#h3_descript_la_serie {

    display: flex;
    height: 80px;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--black-secondary);
    margin-bottom: 20px;

}

#p_descript_la_serie {

    display: flex;
    height: 200px;
    width: 100%;
    border-top: 1px solid grey;
    text-align: center;
    justify-content: center;
    font-family: var(--font-text-italic);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 20px;

}

#max_content_02_la_serie {
    position: relative;
    display: grid;
    margin-left: 2px;
    height: 800px;
    width: 102vw;
    background-image: url(/images/back_la_serie_Web_free_live_free_ride.jpeg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-items: center;
    place-content: center;
    border-top: 1px solid grey;
    overflow: hidden;
    z-index: 50;
}

#map {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 800px;
    width: 100vw;
    max-width: 1500px;
    place-content: center;
    justify-items: center;
    align-items: center;
}

#map_map {
    height: 100%;
    width: 100%;

}



#map_map #europe_svg {

    width: 1000px;
    cursor: pointer;

}

#map #map_selection {

    height: 100%;
    width: 100%;
    border-left: 2px solid var(--white-e9);
}

#map #map_selection span img {


    height: 50px;
    width: 50px;
    position: relative;
}