#web_la_serie {
    display: grid;
    grid-template-rows: calc(100vh - 170px) 2400px 101px;
    grid-template-columns: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#inital_max_la_serie {
    display: grid;
    position: fixed;
    height: calc(100vh - 170px);
    width: 100%;
    z-index: 90;
}

#web_la_serie .h2_descript_page h3 {
    font-size: 5rem;
    text-shadow: none;
    width: auto;
    position: fixed;
    top: calc(50vh - 150px);
    animation: text_type_page 1s 6s alternate 1;
    -webkit-animation: text_type_page 1s 6s alternate 1;
}

#web_la_serie .h2_descript_page h2 {
    height: 130px;
    width: 450px;
}

#web_la_serie .h2_descript_page img {
    position: absolute;
    height: 100%;
    width: 90%;
    top: calc(50vh - 160px);

}

#web_la_serie .scale_logo_FLFR {
    animation: scale_logo_FLFR 5s ease 1;
    opacity: .8;
}

@keyframes scale_logo_FLFR {

    0% {
        transform: scale(2);
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: .8;
    }

}

.spacer_la_serie {
    position: absolute;
    top: -150px;
    height: 150px;
    width: 100vw;
    z-index: 80;
}

.video_back_serie {
    height: calc(100vh - 100px);
    width: 100%;
    object-fit: cover;
}

.video--link--youtube {
    position: absolute;
    display: block;
    font-family: var(--font-text);
    color: var(--black-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
    z-index: 10;
    right: 0px;
    top: calc(50vh - 140px);
    background-color: var(--black-opacity);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: 300ms ease;
}

.video--link--youtube:hover {
    color: var(--white);
}

#pag-02_max_la_serie {
    position: relative;
    display: grid;
    background-color: var(--white-e9);
    justify-items: center;
    height: 2400px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1250px 800px;
    z-index: 90;
}

#web_la_serie #text_description_initial_laserie h3 {
    font-family: var(--font-text-light);
    font-size: 2rem;
    text-align: center;
}


#pag-02_max_la_serie a {
    color: var(--green-primary-);
}

#web_la_serie .description_02_page {
    display: grid;
    place-content: center;
    /* justify-items: start; */
    height: 1350px;
    max-width: none;
    grid-template-columns: 100%;
    grid-template-rows: 500px 300px 100px 450px;

}

#web_la_serie #text_description_initial_laserie {
    position: relative;
    display: flex;
    height: 400px;
    width: 90%;
    /* background-color: aqua; */
    justify-content: center;
    align-items: start;
    margin-top: 30px;
}

#banner_initial_laserie {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
}

#banner_youtube_back {
    position: relative;
    display: flex;
    height: 100%;
    width: 75%;
    background-image: url(/images/back_banner_youtube_laSerie.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

#banner_youtube_back h2 {
    position: absolute;
    font-family: var(--font-home);
    font-size: 5.5rem;
    height: auto;
    width: auto;
    text-shadow: none;
}



#banner_blog {
    position: relative;
    background-color: var(--blue-secondary);
    z-index: 90;

}

#banner_initial_laserie #banner_01::after {

    content: "Súbe";
    position: absolute;
    color: white;
    font-family: var(--font-social);
    font-size: 2rem;
    font-weight: bolder;
    bottom: 20px;
    transition: 300ms ease all;
    right: 30px;
}

#banner_initial_laserie #banner_01:hover::after {

    content: "que te llevo";
    position: absolute;
    color: white;
    font-family: var(--font-social);
    font-size: 2rem;
    font-weight: bolder;
    bottom: 20px;
    right: 30px;
    transition: 300ms ease all;

}

#banner_flfr_flash {

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: .9;
    height: 100px;
    width: 100%;
    transition: 300ms ease all;
}

#banner_flfr_flash_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    transition: 300ms ease all;
    background-color: #bc6317;
    animation: efecto_banner_laSerie 1s alternate infinite;
}

@keyframes efecto_banner_laSerie {

    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

/* #banner_flfr_flash_content:hover {
    
} */

/* #banner_flfr_flash img {

    height: 50px;
    width: 250px;
} */

#text_youtube_banner_laSerie {
    display: flex;
    position: relative;
    justify-content: end;
    height: 300px;
    width: 100%;
    /* background-color: aqua; */

}

#banner_initial_laserie #banner_01 {
    position: relative;
    z-index: 2;
}

#text_youtube_banner_laSerie_content {

    display: flex;
    position: relative;
    height: 100%;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-ccc);
}

#text_youtube_banner_laSerie_content p {
    display: block;
    font-family: var(--font-text-italic);
    font-size: 1.3rem;
    text-align: justify;
    margin: 20px;
    font-weight: 300;
    width: 40%;
    max-width: 450px;

}


#text_youtube_banner_laSerie_content button {

    background-color: var(--orange-primary);
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-family: var(--font-text-italic);
    font-size: 1.1rem;
    margin-left: 30%;
    margin-top: 20px;
}

#text_youtube_banner_laSerie_content button a {

    color: var(--white-e9);
    font-size: 1.2rem;
}


/* -----------------siguiente container------------------ */

#web_la_serie #content_02_la_serie {
    width: 102vw;
}

#max_content_02_la_serie {
    position: relative;
    display: grid;
    margin-left: 2px;
    height: 1150px;
    width: 102vw;
    background-image: url(/images/back_web_free_live_free_ride.webp);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
    justify-items: center;
    place-content: center;
    overflow: hidden;
    z-index: 50;
}

#map {
    position: relative;
    display: grid;
    height: 1000px;
    width: 100vw;
    max-width: 1500px;
    margin-top: 100px;
    place-content: center start;
}

#map_map {

    height: 100%;
    width: 100%;
}

#map_map #europe_svg {

    width: 1000px;
    padding-right: 80px;
    padding-left: 10px;
    transition: 200ms ease;
}

#map #map_selection {

    position: absolute;
    top: 170px;
    right: 100px;
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black-opacity);
    padding: 40px 20px 40px 40px;
    border-radius: 5px;
}


#position_today {

    position: absolute;
    top: 350px;
    height: 100px;
    width: 220px;
    background-color: var(--black-secondary);
    padding-top: 50px;
    border-radius: 5px;

}

#position_today img {

    position: absolute;
    height: 40px;
    left: 15px;
    transform: rotate(-20deg);
}

#position_today p {

    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-text-italic);
    color: var(--white);
    margin-left: 50px;
}

.session_selection {

    display: flex;
    width: 100%;
    height: 70px;
}

.session_selection a {

    height: 100%;
    width: 100%;
}

#selection_session_2 {
    border-radius: 5px;

}

.session_selection_session {

    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: hsl(208, 100%, 97%, 0);
    /* border: .5px solid var(--black-secondary); */
    border: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--white-e9);
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--black-secondary);
    font-weight: bold;
    padding-left: 70px;
    transition: 200ms ease;
}

.session_selection #tienda_02:active span,
.session_selection #tienda_01:active span {

    transform: scale(.7);
}

.session_selection #tienda_01::after {

    content: "Objetivo 1";
    transition: 200ms ease;
}

.session_selection #tienda_01:hover::after {

    content: "El comienzo";
    transition: 200ms ease;
}

.session_selection #tienda_02::after {

    content: "Objetivo 2";
}

.session_selection #tienda_02:hover::after {

    content: "Poximamente...";
}

.session_selection #_01_ramdon,
.session_selection #_02_ramdon {

    background-color: #ECECEC;
    border: .5px solid var(--black-secondary);
    border-radius: 50px;
    position: absolute;
    height: 40px;
    margin-right: 10px;
    left: 10px;
    width: 40px;
    transition: 300ms ease;
}

.session_selection #tienda_01:hover #_01_ramdon {

    background-color: #bc6317;
}

.session_selection #tienda_02:hover #_02_ramdon {

    background-color: #17BD20;
}

.appear_map {

    opacity: 1;
    visibility: visible;
    animation-name: con_map;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
    animation-timing-function: ease;
    -webkit-animation-name: con_map 400ms 100ms backwards ease 1;


}

@keyframes con_map {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes con_map {
    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}


.appear_map_selecction {

    opacity: 1;
    visibility: visible;
    animation-name: con_map_selecction;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
    animation-timing-function: ease;
    -webkit-animation-name: con_map_selecction 400ms 100ms backwards ease 1;
}


.appear_Y_slow {
    opacity: 1;
    visibility: visible;
    animation-name: con_map_selecction;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
    animation-timing-function: ease;
    -webkit-animation-name: con_map_selecction 1s 100ms backwards ease 1;

}

@keyframes con_map_selecction {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes con_map_selecction {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* funcion contadaor dias  */

.counter-container {
    display: flex;
    /* justify-content: flex-start; */
    /* float: left; */
    /* margin: 50px; */
    /* align-items: start; */
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: var(--grey-ccc);
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
}

.counter {

    padding-right: 9px;

}

.contador_orden {

    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%;
    font-family: var(--font-home-2);
    color: var(--orange-primary);
    font-size: 2rem;

}

.contador_orden p {

    font-family: var(--font-text-italic);
    font-weight: bolder;
    font-size: 1rem;

}