#web_moto {

    display: grid;
    grid-template-rows: 600px 2000px 50px 50px 250px;
    grid-template-columns: 100%;
    background-color: var(--white-e9);


}

#inital_max_moto {

    display: grid;
    /* background-image: url(/images/back_mi_moto_free_live_free_ride.webp);
    background-size: cover;
    background-image: top center;
    background-repeat: no-repeat; */

    justify-items: center;
    height: 600px;
    width: 100%;
    grid-template-columns: 100%;
    place-content: center;
    overflow: hidden;

}

#inital_max_moto img {

    position: absolute;
    left: 0px;
    top: 480px;
    height: 120px;
    width: 100%;

}

#pag-02_max_moto {

    display: grid;
    background-color: var(--grey-ccc);
    justify-items: center;
    height: 2000px;
    grid-template-columns: 100%;
    grid-template-rows: 400px 1600px;

}

#p_02_moto {

    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid var(--white);
    text-align: center;

}



#h2_02_moto {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    background-color: var(--grey-ccc);


}

#h2_02_moto h2 {

    display: grid;
    font-family: var(--font-primary);
    font-size: 5vw;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 20px;

}

#h2_02_moto h3 {

    display: grid;
    font-family: var(--font-primary);
    font-size: 2vw;
    color: var(--white);
    margin-bottom: 20px;

}

#h2_02_moto p {

    font-family: var(--font-text-italic);
    font-size: 18px;
    font-weight: 300;
    padding: 0px 20px 0px 20px;
}



#max_content_02_moto {

    display: grid;
    height: 200px;
    width: 100%;
    border-top: 2px solid var(--white);

}

#content_02_moto {

    display: grid;
    max-width: 1200px;

    height: 2000px !important;
    width: 100%;
    justify-items: center;
    margin-top: 100px;
    text-align: start;

}

#web_moto #spacer_02_moto {

    display: grid;
    height: 50px;
    width: 100%;
    background-image: url(/images/La_serie/separacion_e9_top_footer_aventuras_en_moto_por_el_mundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    background-color: aqua;

}

#web_moto #spacer_f_moto {

    display: grid;
    height: 50px;
    width: 100%;
    background-image: url(/images/recurso_diseño_top_footer_aventuras_en_moto_por_el_mundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: aqua;

}