#web_proyecto {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 2180px 102px;
    grid-template-columns: 100%;
    width: 100%;
}

#inital_max_proyecto {

    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    background-size: cover;
    background-image: center center;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 200px);
    width: 100%;
    z-index: 90;
    background-image: url(../images/back_proyecto_mario_free_live_free_ride_y_montando_mi_mundo_en_moto.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#cloud_01 {

    position: fixed;
    top: -100px;
    left: -500px;
    animation: cloud 80s linear infinite alternate;
    -webkit-animation: cloud 80s linear infinite alternate;
    opacity: .7;
}

#cloud_01 img {
    height: 60vh;
}

@keyframes cloud {

    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(140vw);
    }
}

#cloud_02 {


    position: fixed;
    bottom: -220px;
    right: -700px;
    animation: cloud2 100s linear infinite alternate;
    -webkit-animation: cloud2 100s linear infinite alternate;
    opacity: .8;
}

#cloud_02 img {

    height: 100vh;
    transform: rotate(180deg);

}

@keyframes cloud2 {

    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-120vw);
    }
}

#pag-02_max_proyecto {

    position: relative;
    display: grid;
    background-color: var(--white-e9);
    height: 2180px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 180px 2000px;
    z-index: 90;
    justify-items: center;
}

#h3_descript_page {

    margin-left: -95px;
}

#recycle_02 {

    position: absolute;
    z-index: 90;
    animation: recycle_02 5s alternate linear infinite;
    -webkit-animation: recycle_02 5s alternate linear infinite;
}

@keyframes recycle_02 {

    from {
        opacity: .1;

    }

    to {
        opacity: 0;
    }

}

@-webkit-keyframes recycle_02 {

    from {
        opacity: .1;

    }

    to {
        opacity: 0;
    }

}

#recycle_01 img {

    height: 100px;
    margin-right: 20px;
}

#recycle_02 img {

    width: 80vw;
}

#max_content_02_proyecto {

    display: grid;
    height: 2000px;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
    overflow: hidden;
    background-size: 100%;
}

#content_02_proyecto {

    display: grid;
    max-width: 1200px;
    height: 1700px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 200px 500px 500px 500px;
    background-color: rgb(43, 43, 43, .3);
    border-radius: 5px;
    font-family: var(--font-text-light);
    color: var(--black-secondary);
    font-size: 1.4rem;
    line-height: 1.7rem;
}

#content_02_proyecto_01 {

    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 20px solid var(--black-secondary);

}

#content_02_proyecto_01 h4 {

    margin: 30px 30px 20px 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.6rem;
}

#content_02_proyecto_02,
#content_02_proyecto_03,
#content_02_proyecto_04 {

    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    float: left;
    place-content: center;
    align-items: center;
}

#content_02_proyecto_01,
#content_02_proyecto_03 {

    background-color: var(--white);
}

#content_02_proyecto_02,
#content_02_proyecto_04 {

    background-color: var(--grey-f3);
}

#content_02_proyecto_02_content,
#content_02_proyecto_03_content,
#content_02_proyecto_04_content {

    height: 500px;
    width: 90%;
    position: relative;
    display: flex;
    float: left;
    place-content: center;
    align-items: center;
}

#content_02_proyecto_02 img,
#content_02_proyecto_03 img,
#content_02_proyecto_04 img {

    height: 400px;
    border-radius: 5px;
}

#content_02_proyecto_02 p,
#content_02_proyecto_04 p,
#content_02_proyecto_03 p {

    text-align: start;
    margin: 40px;
}