#web_about {

    display: grid;
    grid-template-rows: 600px 2000px 200px 120px 250px;
    grid-template-columns: 100%;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;

}

#inital_max_about {

    display: grid;
    position: relative;
    background-image: url(/images/back_about_me_free_live_free_ride.webp);
    background-size: cover;
    background-image: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    z-index: 90;

}

#inital_max_about img {

    position: absolute;
    left: 0px;
    top: 480px;
    height: 120px;
    width: 100%;

}

#pag-02_max_about {
    position: relative;
    display: grid;
    background-color: var(--grey-ccc);
    justify-items: center;
    height: 2000px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 400px 1600px;
    z-index: 90;

}

#description_02_about {

    display: grid;
    place-content: center;
    height: 400px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 80px 200px;
    background-color: var(--grey-ccc);

}

#h2_descript_about {

    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: 3.5rem;
    color: var(--white);
    text-transform: uppercase;

}

#h3_descript_about {

    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 20px;

}

#p_descript_about {

    display: flex;
    height: 200px;
    width: 100%;
    border-top: 2px solid var(--white);
    text-align: center;
    justify-content: center;
    font-family: var(--font-text-italic);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 20px 20px 0px 20px;

}

#max_content_02_about {

    display: grid;
    height: 1600px;
    width: 100%;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    justify-items: center;
    border-top: 2px solid var(--white);
    overflow: hidden;

}

#content_02_about {

    display: grid;
    max-width: 1200px;
    height: 1600px !important;
    width: 100%;
    justify-items: center;
    margin-top: 100px;
    text-align: start;

}

#social_about_max {

    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--white-e9);
    width: 100%;
    height: 200px;
    justify-items: center;
    background-color: var(--white-e9);
    border-top: 2px solid var(--white);
    border-bottom: 1px solid var(--white);

}