#web_about {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 1780px 101px;
    grid-template-columns: 100%;
    width: 100%;
}

#inital_max_about {

    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    background-image: url(/images/back_about_me_free_live_free_ride.webp);
    background-size: cover;
    background-image: center center;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 200px);
    width: 100%;
    z-index: 90;
}

#pag-02_max_about {

    position: relative;
    display: grid;
    background-color: var(--white-e9);
    justify-items: center;
    height: 1780px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 180px 1600px;
    z-index: 90;
}

#max_content_02_about {

    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    overflow: hidden;
    background-image: url(/images/La_serie/Sin\ tiÃÅtulo-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: local;
    background-size: 100%;
    background-position: center center;
    border-top: 1px solid grey;
}

#content_02_about {

    display: grid;
    max-width: 1200px;
    height: 87.5%;
    width: 100%;
    justify-items: center;
    margin-top: 100px;
    text-align: start;
    background-image: url(../images/back_sobre_mi_el_mundo_en_moto_mario.jpeg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center center;
    border-radius: 5px;
    font-family: var(--font-tiza);
    color: var(--white-e9);
    font-size: 2rem;
    font-weight: 100;
    line-height: 40px;
    padding: 40px;
}

#content_02_about_01 {

    background-attachment: fixed;
}