#web_about {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 2180px 102px;
    grid-template-columns: 100%;
    width: 100%;
}

#inital_max_about {

    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    overflow: hidden;
    background-image: url(/images/back_about_me_free_live_free_ride.webp);
    background-size: cover;
    background-image: center center;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh - 200px);
    width: 100%;
    z-index: 90;
    animation: zoom_auto 30s alternate infinite;
    -webkit-animation: zoom_auto 30s alternate infinite;
    margin-top: 20px;
}

/* #inital_max_about img {

    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    animation: zoom_auto 5s alternate infinite;
} */

@keyframes zoom_auto {

    from {
        transform: scale(1.2);
    }

    to {

        transform: scale(1);
    }

}

@-webkit-keyframes zoom_auto {

    from {
        transform: scale(1.2);
    }

    to {

        transform: scale(1);
    }

}



#pag-02_max_about {

    position: relative;
    display: grid;
    background-color: var(--white-e9);
    height: 2180px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 180px 2000px;
    z-index: 90;
    justify-items: center;
}

/* #h3_descript_page {

    border-bottom: 1px solid grey;
    padding-bottom: 9px;
} */

#max_content_02_about {

    display: grid;
    height: 2000px;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
    overflow: hidden;
    background-size: 100%;
}

#content_02_about {

    display: grid;
    max-width: 1200px;
    height: 1700px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 200px 500px 500px 500px;
    background-color: rgb(43, 43, 43, .3);
    border-radius: 5px;
    font-family: var(--font-text-light);
    color: var(--black-secondary);
    font-size: 1.4rem;
    line-height: 1.7rem;
}

#content_02_about_01 {

    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 20px solid var(--black-secondary);
}

#content_02_about_01 h4 {

    margin: 30px 30px 20px 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.6rem;
}

#content_02_about_02,
#content_02_about_03,
#content_02_about_04 {

    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    float: left;
    place-content: center;
    align-items: center;
}

#content_02_about_01,
#content_02_about_03 {

    background-color: var(--white);
}

#content_02_about_02,
#content_02_about_04 {

    background-color: var(--grey-f3);
}

#content_02_about_02_content,
#content_02_about_03_content,
#content_02_about_04_content {

    height: 500px;
    width: 90%;
    position: relative;
    display: flex;
    float: left;
    place-content: center;
    align-items: center;
}

#content_02_about_02 img,
#content_02_about_03 img,
#content_02_about_04 img {

    height: 400px;
    border-radius: 5px;
}

#content_02_about_02 p,
#content_02_about_04 p,
#content_02_about_03 p {

    text-align: start;
    margin: 40px;
}