#web_temporada_01 {
    display: grid;
    grid-template-rows: calc(100vh - 170px) auto 600px 102px;
    grid-template-columns: 100%;
    width: 100%;
}

#text_description_initial_temporada1 a {
    color: var(--green-primary-);
}

.h2_pages span {
    font-family: var(--font-japan);
    font-size: 7rem;
    position: relative;
    background-color: var(--orange-primary);
    display: flex;
    border-radius: 99px;
    width: 90px;
    height: 90px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    z-index: -1;
    margin-left: -20px;
}

#inital_max_temporada_01 {
    display: grid;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: var(--white-e9);
    background-attachment: fixed;
    z-index: 90;
    justify-items: center;
    height: calc(100vh - 100px);
    width: 100%;
    grid-template-columns: 100%;
    place-content: center;
}

#temporada1_h3 {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: text_type_page 3s alternate 1;
    -webkit-animation: text_type_page 3s alternate 1;
    top: calc(50vh - 123px);
    opacity: .92;
    transition: 1s ease all;
}

#text_description_initial_temporada1 {
    position: relative;
    display: flex;
    height: 550px;
    width: 90%;
    max-width: 1400px;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
}

#text_description_initial_temporada1 h3 {
    font-family: var(--font-text-light);
    font-size: 2rem;
    text-align: center;
}

#pag-02_max_temporada_01 {
    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--white-e9);
    justify-items: center;
    background-attachment: fixed;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 1400px 3300px;
}

/* -----div inicial----- */

#web_temporada_01 .description_02_page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1360px;
    max-width: none;
    align-items: center;
    justify-content: start;
}

#banner_initial_temporada1 {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
}

/* ---text ramdon---- */

#text_random_banner-temporada1 {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/images/back_text_ramdon_objetivo_1_free_live_free_ride.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner_initial_temporada1 h2 {
    position: relative;
    font-family: var(--font-home);
    letter-spacing: 2px;
    font-size: 4rem;
    padding: 5px;
    color: var(--white);
    opacity: .92;
    text-shadow: 0px 0px 0px rgb(0, 0, 0, .5);
}

#banner_initial_temporada1 .random_text {
    width: 100vw;
    height: 300px;
}

#banner_initial_temporada1 .banner_pages {
    z-index: 3;
}

#banner_ultimo_cap-temporada1 {
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    max-width: 1526px;
    justify-content: space-evenly;
    align-items: end;
}

#banner_ultimo_cap-temporada1 h2 {
    display: block;
    background-color: var(--orange-primary);
    height: 50px;
    width: 50%;
    font-family: var(--font-home-2);
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 5px;
}

#ultimo_cap-content01 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 55%;
}

#ultimo_capitulo_iframe {
    position: relative;
    display: flex;
    height: 70%;
    width: 70%;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
}

#ultimo_capitulo_iframe:hover {
    outline: 5px solid var(--orange-primary);
}

#ultimo_cap-content02 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 320px;
    width: 50%;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: var(--black-secondary);
    font-family: var(--font-text-light);
    font-size: 1.5rem;
}

#youtube_banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 150px;
}

#ultimo_cap-content02 a {
    display: flex;
    position: relative;
    height: 150px;
    width: auto;
    cursor: pointer;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#ultimo_cap-content02 a:hover {
    animation: bttn-circle 300ms ease infinite;
}

#ultimo_cap-content02 a:nth-child(2) {
    background-color: #f60400;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#ultimo_cap-content02 a:last-child {
    height: 50px;
}

#ultimo_cap-content02 a:first-child img {
    margin-right: -10px;
}

#ultimo_cap-content02 a:last-child img {
    height: 50px;
    margin-top: -15px;
}

#ultimo_cap-content02 img {
    display: block;
    height: 100px;
    width: auto;
}

#ultimo_cap-content02 p {
    position: relative;
    display: flex;
    font-size: 1.5rem;
    height: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#max_content_02_temporada_01 {
    position: relative;
    display: flex;
    height: 3300px !important;
    width: 100%;
    background-attachment: fixed;
    background-image: url(/images/back_web_free_live_free_ride.webp);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
}

#content_02_temporada_01 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(10, 250px);
    row-gap: 40px;
    column-gap: 30px;
    height: 3000px;
    width: 100%;
    justify-items: center;
    padding: 30px;
    place-content: center center;
    /* margin-top: 150px; */
    border-radius: 5px;
    max-width: 1400px;
}

.card_temporada_01:hover {
    animation: ambar 300ms alternate infinite;
}

.card_temporada_01 {
    display: flex;
    position: relative;
    overflow: visible;
    height: 200px;
    width: 88%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    background-color: var(--black);
    box-shadow: 0px 0px 3px grey;
    border: 10px solid var(--black);
    outline: 30px solid var(--white-e9);
    box-sizing: border-box;
}

.card_video_youtube {
    position: relative;
    display: flex;
    height: 95%;
    width: 98%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card_ncap_youtube {
    display: flex;
    height: 60px;
    width: 90px;
    position: absolute;
    left: -30px;
    z-index: 1;
    border-radius: 9px;
    align-items: center;
    justify-content: end;
    background-color: var(--orange-primary);
    box-shadow: 0px 0px 3px grey;
    outline: 5px solid var(--white-e9);
}

.card_ncap_youtube p {
    display: flex;
    font-family: var(--font-home);
    width: 100%;
    color: var(--white);
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

.card_video_youtube iframe {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: .8;
    transition: 1s ease-in-out all;
    -webkit-transition: 2s ease-in-out all;
    -moz-transition: 2s ease-in-out all;
    -o-transition: 2s ease-in-out all;
}

.card_video_youtube:hover iframe {
    transform: scale(1.3, 1.3);
    opacity: 1;
}

#web_temporada_01 #spacer_02_temporada_01 {
    position: relative;
    display: grid;
    height: 60px;
    width: 100%;
    z-index: 90;
}

#social-div-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: var(--white-e9);
    z-index: 99;
    justify-content: space-evenly;
    align-items: center;
}

#social-div-container h2 {
    display: block;
    height: 50px;
    width: 90%;
    font-family: var(--font-home-2);
    font-size: 2rem;
    color: var(--green-primary-);
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
}

#social-div {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: var(--white-e9);
    z-index: 99;
    justify-content: center;
    align-items: center;
}

#social-div-container .reverse {
    bottom: 600px;
}

.separador-footer {
    position: absolute;
    height: 10px;
    width: 100%;
    transform: rotateX(180deg);
    bottom: -10px;
    z-index: 999;
}