#web_temporada_01 {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 3800px 200px 102px;
    grid-template-columns: 100%;
    width: 100%;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
}

#inital_max_temporada_01 {

    display: grid;
    position: relative;
    background-image: url(../images/back_temporada_1_free_live_free_ride.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 90;
    justify-items: center;
    height: calc(100vh - 200px);
    width: 100%;
    grid-template-columns: 100%;
    place-content: center;
}

#pag-02_max_temporada_01 {

    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--white-e9);
    justify-items: center;
    background-attachment: fixed;
    height: 4000px;
    grid-template-columns: 100%;
    grid-template-rows: 400px 3400px;
}

#max_content_02_temporada_01 {

    display: grid;
    height: 3400px !important;
    width: 100%;
    background-attachment: fixed;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    justify-items: center;
    justify-content: center;
    place-content: center;
    overflow: hidden;
}

#content_02_temporada_01 {

    display: grid;
    grid-template-columns: repeat(3, 395px);
    grid-template-rows: repeat(10, 280px);
    max-width: 1200px;
    row-gap: 40px;
    height: 3200px;
    width: 100%;
    justify-items: center;
    place-content: center;
    overflow: hidden;
    border-radius: 5px;
}

#content_02_temporada_01 .card_temporada_01 {

    display: grid;
    border-radius: 5px;
    height: 250px;
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    font-family: var(--font-primary);
    font-size: 40px;
    color: var(--white);
    justify-content: center;
    place-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
}

#content_02_temporada_01 .card_video_youtube {

    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--black-secondary);
    border-bottom: 4px solid var(--grey-ccc);
}

#content_02_temporada_01 .card_ncap_youtube {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card_video_youtube iframe {

    position: relative;
    height: 100%;
    width: 100%;
    opacity: .8;
    transition: 1s ease-in-out all;
    -webkit-transition: 500ms ease-in-out all;
    -moz-transition: 1s ease-in-out all;
    -o-transition: 1s ease-in-out all;
}

.card_video_youtube:hover iframe {

    position: relative;
    transform: scale(1.1);
    opacity: 1;
}

#content_02_temporada_01 .card_ncap_youtube {

    background-color: rgb(0, 0, 0, .3);
}

#web_temporada_01 #social_temporada_01_max {

    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--white-e9);
    width: 100%;
    height: 200px;
    justify-items: center;
    border-top: .5px solid var(--grey-ccc);
    border-bottom: .5px solid var(--grey-ccc);
}

#web_temporada_01 #social_temporada_01_content {

    display: grid;
    background-color: var(--white-e9);
    height: 200px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    place-content: center;
}

#web_temporada_01 #social_temporada_01_content #banner_temporada_01 {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 20px;
}

#web_temporada_01 #social_temporada_01_max #span_baner_v {

    box-sizing: border-box;
    display: grid;
    height: 150px;
    width: 90%;
    border-radius: 5px;
    -webkit-animation: linear .5s infinite alternate fluor;
    animation: linear .5s infinite alternate fluor;
    -moz-animation: linear .5s infinite alternate fluor;
    -o-animation: linear .5s infinite alternate fluor;
    place-content: center;
    overflow: hidden;
}

@keyframes fluor {

    0% {
        border: 3px solid #ffff51;
        box-shadow: 0px 0px 10px #ffff51;

    }

    100% {
        border: 0px solid #ffff51;
        box-shadow: 0px 0px 0px #ffff51;
    }
}

#web_temporada_01 #social_temporada_01_max #span_baner_v span {

    font-family: var(--font-bttn-fuell);
    font-size: 8rem;
    text-transform: uppercase;
    width: 6000px;
    color: rgb(26, 26, 26);
    letter-spacing: -5px;
    transform: translateX(60%);
    -webkit-animation: 15s linear infinite banner;
    animation: 15s linaer infinite banner;
    margin-top: 20px
}

@keyframes banner {

    0% {
        transform: translateX(60%);
        opacity: 0;

    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {

        transform: translateX(-59%);
        opacity: 0;
    }
}

#web_temporada_01 #social_temporada_01_content #social_v_bttn {

    position: relative;
    background-color: var(--white-e9);
    display: grid;
    grid-template-columns: 78%;
    grid-template-rows: 55px 55px;
    place-content: center;
    row-gap: 20px;
}

#web_temporada_01 #social_temporada_01_content a {

    padding-left: 5px;
}

#web_temporada_01 #social_temporada_01_content #bbtn_you:hover {

    border: 1px solid black;
    color: black;
}

#web_temporada_01 #social_temporada_01_content button:active {

    box-shadow: inset 0px 0px 4px black;
    transform: scale(0.95);
}

#web_temporada_01 #spacer_02_temporada_01 {

    position: relative;
    display: grid;
    height: 60px;
    width: 100%;
    z-index: 90;
}

/* .appear_div_temp {
    
    opacity: 1;
    visibility: visible;
    animation-name: con1;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
    animation-timing-function: ease;
} */