:root {
    /* fonts-------------------- */

    --font-nav: "montserrat-bolt", Arial, Helvetica, sans-serif;
    --font-simbols: "websymbols", Arial, Helvetica, sans-serif;
    --font-bttn-fuell: "hind-bold", Arial, Helvetica, sans-serif;
    --font-primary: "carter-one", Arial, Helvetica, sans-serif;
    --font-social: "montserrat-thin", Arial, Helvetica, sans-serif;
    --font-text: "nunito-sans", Arial, Helvetica, sans-serif;
    --font-text-light: "nunito-light", Arial, Helvetica, sans-serif;
    --font-text-italic: "nunito-italic", Arial, Helvetica, sans-serif;
    --font-text-bold: "nunito-bold", Arial, Helvetica, sans-serif;
    --font-footer: "roboto", Arial, Helvetica, sans-serif;
    --font-digital: "digiti", Arial, Helvetica, sans-serif;
    --font-digital_b: "digiti_b", Arial, Helvetica, sans-serif;
    --font-japan: "japan", Arial, Helvetica, sans-serif;
    --font-Windsong: "Windsong", Arial, Helvetica, sans-serif;
    --font-greatVibes: "greatVibes", Arial, Helvetica, sans-serif;
    --font-login: "roboto-bold", Arial, Helvetica, sans-serif;
    --font-alexBrush: "alexBrush", Arial, Helvetica, sans-serif;
    --font-icons: "icons", Arial, Helvetica, sans-serif;
    --font-true: "true", Arial, Helvetica, sans-serif;
    --font-marker: "marker", Arial, Helvetica, sans-serif;
    --font-banks20: "banks20", Arial, Helvetica, sans-serif;
    --font-tiza: "blacboard", Arial, Helvetica, sans-serif;
    --font-draw: "draw", Arial, Helvetica, sans-serif;
    --font-home: "rust-g", Arial, Helvetica, sans-serif;
    --font-home-2: "rust-g", Arial, Helvetica, sans-serif;
    /* --font-rust: "rust-g", Arial, Helvetica, sans-serif; */
    /* --font-home: "eds-market-bold-slant", sans-serif; */
    /* --font-home: "reklame-script", sans-serif; */
    /* --font-home: "catseye", sans-serif; */


    /* colors-------------------- */

    --white-e9: #e9e9e9;
    --white: #ffff;
    --black: #000;
    --grey-ccc: #ccc;
    --grey-f3: #f3f3f3;
    --blue-primary: #17A0BD;
    --blue-secondary: #02576a;
    /* --green-primary-: #86BD2A; */
    --green-primary-: #bc6317;
    --green-seconday: #6b795f;
    --orange-primary: #bc6317;
    --orange-secondary: #BD7E17;
    --marron-primary: #68492F;
    --blue-bttn: #2B263D;
    --rojo-primary: #BD2A17;
    --orange_banner: #EBA55E;
    --youtube-primary: rgb(191, 8, 17);
    --youtube-secondary: rgb(234, 234, 234);
    --tktk-secondary: rgb(254, 44, 85);
    --tktk-primary: rgb(1, 1, 1);
    --ing-primary: radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%);
    --ing-secondary: rgb(40, 90, 235);
    --face-primary: #3b5998;
    --face-secundary: #263951;
    --black-secondary: rgb(43, 43, 43);
    --black-opacity: rgb(43, 43, 43, .3);

}