#web_videos {

    display: grid;
    grid-template-rows: calc(100vh - 200px) 4000px 200px 120px 250px;
    grid-template-columns: 100%;
    width: 100%;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;

}

#inital_max_videos {

    display: grid;
    position: relative;
    z-index: 90;
    justify-items: center;
    height: calc(100vh - 200px);
    width: 100%;
    grid-template-columns: 100%;
    place-content: center;

}

#inital_max_videos video {

    position: relative;
    min-width: 100%;
    min-height: 90vh;

}

#inital_max_videos img {

    position: absolute;
    bottom: -2px;
    height: 120px;
    width: 100%;

}

#pag-02_max_videos {

    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--grey-ccc);
    justify-items: center;
    background-attachment: fixed;
    height: 4000px;
    grid-template-columns: 100%;
    grid-template-rows: 400px 3600px;

}

#description_02_video {

    display: grid;
    place-content: center;
    justify-items: center;
    height: 400px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 80px 200px;
    background-color: var(--grey-ccc);

}

#h2_descript_video {

    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: 3.5rem;
    color: var(--white);
    text-transform: uppercase;

}

#h3_descript_video {

    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 20px;

}

#p_descript_video {

    display: flex;
    height: 200px;
    width: 100%;
    border-top: 2px solid var(--white);
    text-align: center;
    justify-content: center;
    font-family: var(--font-text-italic);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 20px;


}

#p_descript_video p {

    padding-left: 20px;
    padding-right: 20px;

}

#max_content_02_videos {

    display: grid;
    height: 3600px !important;
    width: 100%;
    background-attachment: fixed;
    /* background-color: aqua; */
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    justify-items: center;
    justify-content: center;
    border-top: 2px solid var(--white);
    overflow: hidden;

}

#content_02_videos {

    display: grid;
    grid-template-columns: repeat(3, 395px);
    grid-template-rows: repeat(10, 280px);
    max-width: 1200px;
    row-gap: 40px;
    height: 4000px !important;
    width: 100%;
    /* background-color: aqua; */
    justify-items: center;
    margin-top: 100px;
    text-align: start;
    overflow: hidden;

}

#content_02_videos .card_videos {

    display: grid;
    border-radius: 5px;
    height: 250px;
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    font-family: var(--font-primary);
    font-size: 40px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    /* border: 1px solid rgb(188, 99, 23, 0.4); */
    overflow: hidden;

}

#content_02_videos .card_video_youtube {

    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 2px;
    opacity: .8;
    transition: 1s ease-in-out all;
    -webkit-transition: 500ms ease-in-out all;
    -moz-transition: 1s ease-in-out all;
    -o-transition: 1s ease-in-out all;

}

#content_02_videos .card_video_youtube:hover {

    opacity: 1;

}

#content_02_videos .card_ncap_youtube {

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(43, 226, 128); */
    border-top: 4px solid var(--grey-ccc);

}

.card_video_youtube iframe {

    position: relative;
    height: 100%;
    width: 100%;

}

.card_video_youtube:hover iframe {

    position: relative;
    height: 100%;
    width: 100%;

}

#content_02_videos .card_ncap_youtube {

    background-color: rgb(0, 0, 0, .3);

}

#web_videos #social_videos_max {

    display: grid;
    position: relative;
    z-index: 90;
    background-color: var(--white-e9);
    width: 100%;
    height: 200px;
    justify-items: center;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

}

#web_videos #social_videos_content {

    display: grid;
    background-color: var(--white-e9);
    height: 200px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    place-content: center;

}

#web_videos #social_videos_content #banner_videos {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    padding-left: 20px;
}

#web_videos #social_videos_max #span_baner_v {

    box-sizing: border-box;
    display: grid;
    height: 150px;
    width: 90%;
    border-radius: 5px;
    -webkit-animation: linear .5s infinite alternate fluor;
    animation: linear .5s infinite alternate fluor;
    -moz-animation: linear .5s infinite alternate fluor;
    -o-animation: linear .5s infinite alternate fluor;
    place-content: center;
    overflow: hidden;

}

@keyframes fluor {

    0% {
        border: 3px solid #ffff51;
        box-shadow: 0px 0px 10px #ffff51;

    }

    100% {
        border: 0px solid #ffff51;
        box-shadow: 0px 0px 0px #ffff51;
    }

}

#web_videos #social_videos_max #span_baner_v span {

    font-family: var(--font-bttn-fuell);
    font-size: 8rem;
    text-transform: uppercase;
    width: 6000px;
    color: rgb(26, 26, 26);
    letter-spacing: -5px;
    transform: translateX(60%);
    -webkit-animation: 15s linear infinite banner;
    animation: 15s linaer infinite banner;
    margin-top: 20px
}

@keyframes banner {

    0% {
        transform: translateX(60%);
        opacity: 0;

    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {

        transform: translateX(-59%);
        opacity: 0;
    }

}

#web_videos #social_videos_content #social_v_bttn {

    position: relative;
    background-color: var(--white-e9);
    display: grid;
    grid-template-columns: 78%;
    grid-template-rows: 55px 55px;
    /* background-color: aqua; */
    place-content: center;
    row-gap: 20px;

}

#web_videos #social_videos_content a {

    padding-left: 5px;

}

#web_videos #social_videos_content #bbtn_you:hover {

    border: 1px solid black;
    color: black;

}

#web_videos #social_videos_content button:active {

    box-shadow: inset 0px 0px 4px black;
    transform: scale(0.95);

}

#web_videos #spacer_02_videos {

    position: relative;
    display: grid;
    height: 60px;
    width: 100%;
    z-index: 90;

}