*,
body {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: clip;

}

#web {

    display: grid;
    grid-template-rows: 30px 100vh 768px 20px 850px 250px 250px;
    grid-template-columns: 100%;
    background-color: var(--white-e9);
    background-image: url(/images/La_serie/Sin\ tiÃÅtulo-3.jpeg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
    overflow: hidden;

}

#spacer_01 {

    position: relative;
    display: grid;
    height: 19px;
    width: 100%;
    border-bottom: 1px solid var(--grey-ccc);
    z-index: 90;
    background-color: var(--white-e9);

}

#banner_home {

    position: fixed;
    display: grid;
    height: 30px;
    width: 105%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--orange_banner);
    justify-items: center;
    font-family: var(--font-footer);
    font-weight: bolder;
    color: var(--black-secondary);
    align-items: end;
    padding-bottom: 5px;

}

#banner_home span {

    -webkit-animation: 20s linear infinite banner_h;
    animation: 20s linaer infinite banner_h;
    -moz-animation: 20s linaer infinite banner_h;
    -o-animation: 20s linaer infinite banner_h;
    font-size: 1rem;
    width: 1200px;

}

@keyframes banner_h {

    0% {
        transform: translateX(70vw);


    }

    100% {

        transform: translateX(-70vw);

    }

}

#banner_home #content_b_h p {

    font-family: var(--font-social);

}

#phrase_home {

    display: grid;
    position: relative;
    justify-items: center;
    height: 250px;
    width: 100%;
    border-top: 1px solid var(--green-seconday);
    background-color: var(--white-e9);
    background-image: url(/images/back_phrase.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 90;
    border-bottom: 1px solid var(--green-seconday);

}

#phrase_home #content_ph {

    display: flex;
    width: 100%;
    height: 250px;
    max-width: 1200px !important;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#phrase_home p {

    font-size: 3.6rem;
    font-family: var(--font-alexBrush);
    /* color: rgba(43, 39, 39, 0.821); */
    color: var(--white);
    font-weight: normal;
    line-height: 80px;
    padding-left: 20px;
    padding-right: 20px;

}