body {

    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
}



#web_recover {

    position: relative;
    display: grid;
    width: 100vw;
    height: 100vh;
    min-height: 900px;
    justify-items: center;


}


#inital_max_recover {

    position: relative;
    display: grid;
    justify-items: center;
    height: calc(100vh - 350px);
    min-height: 500px;
    width: 100%;
    grid-template-columns: 100%;
    padding-top: 80px;
    overflow: hidden;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 99;

}

#content_i_recover {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 250 100px;
    height: 450px;
    width: 100vw;
    justify-items: center;
    align-items: center;
    font-family: var(--font-login);

}

#content_i_recover #h2_c__i_s {

    display: flex;
    margin-bottom: 30px;
    height: 50px;
    width: 100%;
    justify-content: center;

}

#content_i_recover h2 {

    font-family: var(--font-bttn-fuell);
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black-secondary);

}

#content_i_recover #login {

    display: grid;
    height: 250px;
    width: 502px;
    font-size: 1.2rem;

}

#content_i_recover form {

    display: flex;
    flex-direction: column;
    font-weight: bold;

}

input[type="email"] {

    height: 40px;
    width: 498px;
    border-radius: 3px;
    margin-left: 2px;
    box-sizing: border-box;
    border: 1px solid var(--black-secondary);
    background-color: rgb(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    font-family: var(--font-login);
    font-size: 1.3rem;
    padding-left: 10px;
    color: var(--black-secondary);

}

input[type="email"]:focus {

    border: 2px solid var(--green-seconday);
    background-color: rgb(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    font-family: var(--font-login);
    font-size: 1.3rem;
    padding-left: 10px;
    color: black;
    outline: none;
    border: 0px;
    outline: 2px solid var(--green-seconday);

}

#content_i_recover button:active {

    box-shadow: inset 0px 0px 4px black;
    transform: scale(0.99);

}

#content_i_recover #login p:last-child {

    margin-top: 30px;

}

#content_i_recover #login form p:first-child {

    line-height: 30px;
}

#content_i_recover #login form p {

    line-height: 40px;
}

#content_i_recover #remmenber {

    display: flex;
    height: 100px;
    width: 501px;
    align-items: center;

}

#content_i_recover button {

    height: 35px;
    width: 500px;
    background-color: var(--orange-primary);

}