#footer_max {

    display: grid;
    position: fixed;
    bottom: 0;
    background-image: url(/images/back_footer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 250px;
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--green-seconday);
    z-index: 89;
}

#footer_max #content_f {

    display: grid;
    position: absolute;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 250px;
    width: 100%;
    grid-template-areas:
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l c c c c c c m m m";

}

#footer_max #content_f #logo_f {

    position: relative;
    display: flex;
    grid-area: l;
    align-items: center;
    margin-left: 50px;
}

#footer_max #content_f #logo_f img {

    height: 200px
}

#h2_f {

    width: 100%;
    height: 100%;
    grid-area: h;
    margin-top: 20px;
    border-right: 2px solid rgb(0, 0, 0, .5);
}

.h2_f {

    position: relative;
    display: flex;
    font-family: var(--font-home);
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-right: 2px;

}

.bttn_f {

    display: grid;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    border: 0px;
    font-family: var(--font-digital);
    background-color: var(--green-primary-);
    font-size: 6rem;
    line-height: 3rem;
    color: var(--white);
    overflow: hidden;
    cursor: pointer;
}

.bttn_f:active {

    box-shadow: inset 0px 0px 2px black;
    transform: scale(0.98);
}

.bttn_f:hover span {

    animation: 500ms plus linear infinite;
    -webkit-animation: 500ms plus linear infinite;
    -moz-animation: 500ms plus linear infinite;
    -o-animation: 500ms plus linear infinite;
}

@keyframes plus {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes plus {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

#footer_max #content_f #copy {

    display: flex;
    grid-area: c;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#footer_max #content_f #copy span {

    font-family: var(--font-footer);
    color: var(--white);
}

#footer_max #content_f #menu_f {

    display: grid;
    grid-area: m;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    margin: 20px 20px 20px 20px;
    padding-left: 20px;
}

#footer_max #content_f #menu_f #faqs_f {

    width: 100%;
    height: 100%;
}

#footer_max #content_f #menu_f #faqs_f li a {

    justify-content: left;
    line-height: 25px;
    font-family: var(--font-footer);
    color: var(--white);
    font-size: 1rem;
}

#footer_max #content_f #menu_f li a:hover {

    text-shadow: 0px 0px 2px rgb(0, 0, 0, 1);
}

#footer_max #content_f #menu_f #pay_f {

    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#footer_max #content_f #menu_f #pay_f img {

    height: 100%;
    width: 100%;
    max-width: 280px;
}

#h2_f a {

    color: var(--white);
}