#footer_max {

    display: grid;
    position: fixed;
    bottom: 0;
    background-image: url(/images/back_footer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 250px;
    width: 100%;
    justify-content: center;
    border-top: 1px solid var(--white);
    z-index: 80;


}

#footer_max #content_f {

    display: grid;
    position: absolute;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 250px;
    width: 100%;
    grid-template-areas:
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l h h h h h h m m m"
        "l l l c c c c c c m m m";

}

#footer_max #content_f #logo_f {

    display: flex;
    /* background-color: rgb(186, 0, 96); */
    grid-area: l;
    align-items: center;
    margin-left: 50px;


}

#footer_max #content_f #logo_f img {

    height: 80%;

}

#footer_max #content_f #h2_f {

    display: flex;
    /* background-color: rgb(84, 84, 84); */
    grid-area: h;
    font-family: var(--font-primary);
    color: var(--white);
    font-size: 3vw;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(0, 0, 0, .5);
    margin-top: 20px;


}

#footer_max #content_f #h2_f #bttn_f {

    display: grid;
    width: 3vw;
    height: 3vw;
    border-radius: 999px;
    border: 0px;
    font-family: var(--font-text);
    background-color: var(--green-primary-);
    font-size: 3.5vw;
    place-content: center;
    color: var(--white);
    overflow: hidden;
    cursor: pointer;

}

#footer_max #content_f #h2_f #bttn_f:hover span {


    animation: 500ms plus alternate infinite;
    -webkit-animation: 500ms plus alternate infinite;
    -moz-animation: 500ms plus alternate infinite;
    -o-animation: 500ms plus alternate infinite;


}

@keyframes plus {

    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1.2);
    }

}

@-webkit-keyframes plus {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }

}


#footer_max #content_f #copy {

    display: flex;
    /* background-color: rgb(43, 226, 67); */
    grid-area: c;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(0, 0, 0, .5);
    margin-bottom: 20px;


}

#footer_max #content_f #copy span {

    font-family: var(--font-footer);
    color: var(--white);

}


#footer_max #content_f #menu_f {

    display: grid;
    /* background-color: rgb(255, 253, 127); */
    grid-area: m;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    margin: 20px 20px 20px 20px;
    padding-left: 20px;


}

#footer_max #content_f #menu_f #faqs_f li a {

    justify-content: left;
    line-height: 25px;
    font-family: var(--font-footer);
    color: var(--white);
}

#footer_max #content_f #menu_f li a:hover {

    text-shadow: 0px 0px 2px rgb(0, 0, 0, 1);

}

#footer_max #content_f #menu_f #pay_f {
    /* background-color: aqua; */

    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

}


#footer_max #content_f #menu_f #pay_f img {


    /* background-color: aqua; */
    height: 100px;


}

/* poner dos div, uno para el menu y otro para la foto y asi poder manejarlo con flex y moverlos a la derecha */