#header_max {

    display: grid;
    position: fixed;
    grid-template-columns: 250px 80px 80px 1fr 80px 100px;
    grid-template-rows: 30px 80px;
    width: 100vw;
    grid-template-areas:
        "bn bn bn bn bn bn "
        "logo home session . bttn  menu ";
    text-transform: uppercase;
    z-index: 100;
    transition: 500ms ease all;
}

.superpuesto {
    transition: 500ms ease all;
}

.header_top {
    transition: 500ms ease all;
    top: -30px;
}

.header_blue {

    background-color: var(--blue-primary);
    transition: 500ms ease all;
}

.header_opacity {

    background-color: rgb(2, 87, 106, .9);
    transition: 200ms ease;
}

#banner_home {

    position: fixed;
    display: grid;
    height: 30px;
    width: 105%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--orange_banner);
    justify-items: center;
    font-family: var(--font-footer);
    font-weight: bolder;
    color: var(--black-secondary);
    align-items: end;
    padding-bottom: 5px;
    grid-area: bn;
}

#banner_home span {

    -webkit-animation: 25s linear infinite banner_h;
    animation: 25s linaer infinite banner_h;
    -moz-animation: 25s linaer infinite banner_h;
    -o-animation: 25s linaer infinite banner_h;
    font-size: 1rem;
    width: 1450px;
    text-transform: none;
}

@keyframes banner_h {

    0% {
        transform: translateX(100vw);


    }

    100% {

        transform: translateX(-100vw);

    }

}

#banner_home #content_b_h p {

    font-family: var(--font-social);
}

header #logo_h {

    display: grid;
    grid-area: logo;
    place-content: center;
    cursor: pointer;
    z-index: 90;
}

header #logo_h img {

    height: 40px;
    margin-top: 10px;
}

header #logo_h a {

    padding: 5px;
    z-index: 100;
}

header #bttn_home {

    display: grid;
    height: 80px;
    width: 80px;
    grid-area: home;
    place-content: center;
    z-index: 100;
}

header #bttn_home a {

    padding-right: 5px;
}

header #bttn_home #bttn_h_h {

    border: 1px solid white;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
}

header #bttn_h_h:active,
#bttn_sesion_buttom:active,
#bttn_fuel:active {

    box-shadow: inset 0px 0px 4px black;
    transform: scale(0.95);
    transition: 0ms ease;
}

header #bttn_sesion {

    display: grid;
    height: 80px;
    width: 80px;
    grid-area: session;
    border-radius: 0px 0px 5px 0px;
    place-content: center;
    z-index: 100;
}

header #bttn_sesion a {

    padding-right: 5px;
}

header #bttn_sesion #bttn_sesion_buttom {

    border: 1px solid white;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
}

header #bttn_sesion #bttn_sesion_buttom img {

    height: 50px;
}

header #bttn_h {

    display: grid;
    border-radius: 0px 0px 0px 5px;
    height: 80px;
    grid-area: bttn;
    align-items: center;
    justify-items: center;
    padding-left: 4px;
}

header #bttn_h #bttn_fuel {

    display: flex;
    height: 70px;
    width: 70px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0);
    align-items: center;
    color: var(--white);
    justify-content: center;
    cursor: pointer;

}

header #bttn_h #icon_fuel {

    height: 55px;
    transition: 500ms ease;
    transition-delay: 300ms;
    margin-left: -61px;
}

header #bttn_h:hover #icon_fuel {

    transform: translateX(112%);
}

header #bttn_h:hover .wheel {

    transform: translateX(140%);
}

header #bttn_h span {

    transition: 500ms ease;
    transition-delay: 300ms;
    line-height: 10px;
}


header #bttn_h #bttn_fuel span img {

    width: 55px;
    -webkit-animation: 7s wheel linear infinite;
    animation: 7s wheel linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-left: 5px;
}

header #bttn_h #bttn_fuel:hover span img {

    -webkit-animation: 1s wheel linear infinite;
    animation: 1s wheel linear infinite;
}

@keyframes wheel {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes wheel {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

/*-----------------------menu fuel------------------*/

header #bttn_h nav {

    display: grid;
    position: absolute;
    box-sizing: border-box;
    top: 32px;
    background-color: #bab5b4;
    color: var(--white);
    width: 288px;
    height: 500px;
    right: 0vw;
    border-radius: 0px 0px 0px 5px;
    box-sizing: border-box;
    border: 2px solid var(--grey-ccc);
    outline: 2px solid #bab5b4;
    cursor: default;
    justify-content: center;
    transition: 300ms ease;
    z-index: 199;
}

header #bttn_h nav #info_fuell {

    display: grid;
    height: 178px;
    width: 210px;
    margin-top: 100px;
    border: 4px solid var(--grey-ccc);
    outline: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    place-content: center;
    margin-left: 13px;
    background-color: var(--white);
}

header #bttn_h nav ul {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--black-secondary);
    font-family: var(--font-digital_b);
    font-size: 50px;
}

header #bttn_h #nav_chek span {

    font-size: 49px;
    color: rgb(33, 33, 33);
    font-family: var(--font-digital_b);
}

header #bttn_h nav #press_fuell {

    display: grid;
    height: 300px;
    grid-template-columns: 100%;
    grid-template-rows: 30% 20% 20%;
    margin-top: 10px;
    justify-items: center;
}

header #bttn_h nav input {

    font-family: var(--font-digital_b);
    font-size: 40px;
    border: 2px solid var(--grey-ccc);
    outline: 1px solid black;
    border-radius: 4px;
    background-color: var(--grey-ccc);
    cursor: pointer;
}

header #bttn_h nav #check_total {

    display: flex;
    margin-top: 20px;
    height: 60px;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}

header #bttn_h nav #press_fuell #litro_p_f {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

header #bttn_h nav #sumar {

    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: var(--grey-ccc);
    font-size: 32px;
    font-family: var(--font-bttn-fuell);
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}

header #bttn_h nav #sumar:active,
header #bttn_h nav #restar:active,
header #bttn_h nav #repostar:active,
header #span_bttn_fuel:active {

    box-shadow: inset 0px 0px 3px black;
    transform: scale(0.99);
}

header #bttn_h nav #restar {

    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: var(--grey-ccc);
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -3px;
    padding-right: 3px;
    font-family: var(--font-bttn-fuell);
    box-shadow: 0px 0px 3px black;
}

header #bttn_h nav #litro {

    height: 60px;
    width: 30px;
    background-color: var(--white);
    font-size: 59px;
    text-align: center;
    line-height: 59px;
    margin: 0px 15px;
    cursor: default;
    border: 4px solid var(--grey-ccc);
    outline: 1px solid black;
    border-radius: 5px;
}

header #bttn_h nav #total {

    background-color: var(--white);
    width: 140px;
    height: 100%;
    cursor: default;
    margin-left: 2px;
    margin-right: 20px;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    border: 4px solid var(--grey-ccc);
    outline: 1px solid black;
    border-radius: 5px;

}

header #bttn_h nav #repostar {

    height: 85%;
    width: 100px;
    margin-right: 2px;
    font-family: var(--font-digital_b);
    font-size: 25px;
    background-color: var(--grey-ccc);
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;

}

header #menu_plus {

    display: grid;
    background-color: rgb(0, 0, 0, 0);
    grid-area: menu;
    place-content: center;
}

header #bttn_p {

    display: flex !important;
    height: 80px;
    width: 100px;
    padding-right: 10px;
    border: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

header #bttn_p span {

    display: block;
    position: relative;
    width: 60px;
    height: 9px;
    background-color: var(--orange-primary);
    border-radius: 9px;
    margin-bottom: 10px;
    transition: 500ms ease;
    z-index: 100;
}

header #bttn_p:hover span {

    transform: translateY(60%);
}

header #bttn_p:hover span:nth-child(2) {

    transform: translateX(200%);
}

header #bttn_p:hover span:nth-child(3) {

    transform: translateY(-60%);
}

header #bttn_p span:first-child {

    margin-top: 6px;
}


header #span_bttn_fuel {

    position: absolute;
    display: flex;
    height: 50px;
    width: 35px;
    right: 25px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--grey-ccc);
    box-shadow: 0px 0px 3px black;

}

header #span_bttn_fuel span {

    position: relative;
    display: grid;
    width: 60px;
    height: 60px;
    font-size: 60px;
    place-content: center;
    background-color: var(--grey-ccc);
}

header #span_bttn_fuel span p {

    font-size: 40px;
    color: rgb(33, 33, 33);

}

/*-----------------------menu navegacion------------------*/

header #menu_plus nav {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 30px;
    margin-right: 0px;
    color: var(--white);
    font-family: var(--font-nav);
    background-color: rgb(2, 87, 106, .9);
    font-size: clamp(.6rem, 4vh, 2rem);
    line-height: 7vh;
    text-align: center;
    width: 100vw;
    height: 100vh;
    right: 0px;
    border-radius: 0px 0px 0px 5px;
    transition: 300ms ease;
    z-index: 0;
}

header #menu_plus nav ul li a:hover {

    color: var(--orange-primary);

}

@keyframes giro_li {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

header #menu_plus nav ul li a {

    color: var(--white);
    display: block;
}

header #menu_plus nav ul li:first-child {

    margin-top: 85px;
}

header #menu_plus nav ul li:last-child {

    margin-bottom: 50px;
}

.hidden_nav_plus {

    transform: translateY(-120%);
}

.hidden_bttn_fuel {

    transform: translateY(-300%);
}

.close span {

    transform: rotate(45deg) translate(23px, 24px);
}

.close span:nth-child(2) {

    transform: translateX(200%);
}

.close span:nth-child(3) {

    transform: rotate(-45deg) translate(3px, -4px);
}

.hidden_bttn_h {

    transform: translateX(300%);
}

.hidden_bttn_header {

    transform: translateX(-800%);
}

.opacity_plus {

    background-color: rgb(0, 0, 0, 0);
}

.header_grey {

    background-color: #bab5b4;
    border-bottom: 4px solid var(--grey-ccc);
    box-sizing: border-box;

}

.header_grey_2 {

    background-color: #bab5b4;


}