#header_max {

    display: grid;
    position: fixed;
    grid-template-columns: 300px 80px 80px 1fr 190px 100px;
    grid-template-rows: 80px;
    width: 100%;
    grid-template-areas:
        "logo home session . bttn  menu ";
    text-transform: uppercase;
    z-index: 100;

}

header #logo_h {

    display: grid;
    background-color: var(--blue-primary);
    /* background-color: rgb(4, 156, 189, .9); */
    grid-area: logo;
    place-content: center;
    border-radius: 0px 0px 5px 0px;
    cursor: pointer;

}

header #logo_h a {

    padding: 5px;

}

header #bttn_home {

    display: grid;
    height: 76px;
    width: 80px;
    outline: 4px solid var(--blue-primary);
    grid-area: home;
    background-color: var(--blue-primary);
    border-radius: 0px 0px 5px 0px;
    place-content: center;
    transition: 500ms ease;

}

header #bttn_home #bttn_h_h {

    border: 1px solid white;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: var(--blue-primary);
    transition: 500ms all ease;

}

header #bttn_home #bttn_h_h:hover {

    box-shadow: inset 0px 0px 4px black;
}

header #bttn_sesion {

    display: grid;
    height: 76px;
    width: 80px;
    outline: 4px solid var(--blue-primary);
    grid-area: session;
    background-color: var(--blue-primary);
    border-radius: 0px 0px 5px 0px;
    place-content: center;


}

header #bttn_sesion #bttn_sesion_buttom:hover {

    box-shadow: inset 0px 0px 4px black;

}


.header_home {

    transform: translateX(-80px);
    transition: 500ms all ease;

}

header #bttn_sesion #bttn_sesion_buttom {

    border: 1px solid white;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: var(--blue-primary);
    transition: 500ms all ease;

}

header #bttn_sesion #bttn_sesion_buttom img {

    height: 50px;

}

header #bttn_h {

    display: grid;
    background-color: var(--blue-primary);
    border-radius: 0px 0px 0px 5px;
    height: 80px;
    width: 100%;
    grid-area: bttn;
    align-items: center;
    justify-items: center;
    padding-left: 4px;

}

header #bttn_h #bttn_fuel {

    display: flex;
    float: left;
    height: 70px;
    width: 180px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--blue-primary);
    align-items: center;
    color: var(--white);
    justify-content: center;
    cursor: pointer;
    transition: 500ms all ease;

}

header #bttn_h #bttn_fuel:hover {

    box-shadow: inset 0px 0px 4px black;

}


header #bttn_h nav {

    display: grid;
    position: absolute;
    box-sizing: border-box;
    top: 75px;
    background-color: #bab5b4;
    color: var(--white);
    width: 288px;
    height: 500px;
    right: 1px;
    border-radius: 0px 0px 5px 5px;
    transform: translateX(0);
    box-sizing: border-box;
    border: 2px solid var(--grey-ccc);
    outline: 1px solid black;
    cursor: default;
    justify-content: center;
    transform: translateX(110%);

}

header #bttn_h nav #info_fuell {

    display: grid;
    height: 178px;
    width: 210px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    margin-left: 13px;

}

header #bttn_h nav ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 145px;
    width: 200px;

}

header #bttn_h nav ul li {

    line-height: 45px;
    background-color: white;
    width: 200px;
    /* height: 100%; para ocupar todo el espacio de pantalla en diseño responsive del movil
    width: 100%; */

}

header #bttn_h nav ul li:nth-child(2) {

    border-left: 4px solid var(--grey-ccc);
    border-right: 4px solid var(--grey-ccc);

}

header #bttn_h nav ul li:last-child {

    border-radius: 0px 0px 4px 4px;
    border-bottom: 4px solid var(--grey-ccc);
    border-left: 4px solid var(--grey-ccc);
    border-right: 4px solid var(--grey-ccc);

}

header #bttn_h nav ul li:first-child {

    border-radius: 4px 4px 0px 0px;
    border-top: 4px solid var(--grey-ccc);
    border-left: 4px solid var(--grey-ccc);
    border-right: 4px solid var(--grey-ccc);

}

header #bttn_h #nav_chek span {

    font-size: 50px;
    color: rgb(33, 33, 33);
    font-family: var(--font-digital_b);
    /* font-weight: 900; */

}


header #bttn_h nav #press_fuell {

    display: grid;
    height: 300px;
    grid-template-columns: 100%;
    grid-template-rows: 30% 20% 20%;
    margin-top: 10px;
    justify-items: center;

}

header #bttn_h nav input {

    font-family: var(--font-digital_b);
    font-size: 40px;
    border: 2px solid var(--grey-ccc);
    outline: 1px solid black;
    border-radius: 4px;
    background-color: var(--grey-ccc);
    cursor: pointer;

}

header #bttn_h nav #check_total {

    display: flex;
    margin-top: 20px;
    height: 60px;
    width: 240px;
    justify-content: space-between;

}

header #bttn_h nav #press_fuell #litro_p_f {

    display: flex;
    justify-content: center;
    align-items: center;

}

header #bttn_h nav #sumar {

    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: var(--white);
    font-size: 32px;
    font-family: var(--font-bttn-fuell);

}

header #bttn_h nav #restar {

    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: var(--white);
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -3px;
    padding-right: 3px;
    font-family: var(--font-bttn-fuell);

}

header #bttn_h nav #litro {

    height: 60px;
    width: 30px;
    background-color: var(--white);
    font-size: 52px;
    margin: 0px 10px;
    cursor: default;
    border: 4px solid var(--grey-ccc);

}

header #bttn_h nav #total {

    background-color: var(--white);
    height: 60px;
    width: 60px;
    cursor: default;
    border: 4px solid var(--grey-ccc);

}

header #bttn_h nav #repostar {

    height: 60px;
    width: 170px;

}

header #bttn_h #bttn_fuel p {

    font-family: var(--font-bttn-fuell);
    font-size: 45px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-top: 6px;

}

header #bttn_h #bttn_fuel:hover p {

    animation: 500ms fuell alternate infinite;
    -webkit-animation: 500ms fuell alternate infinite;
    -moz-animation: 500ms fuell alternate infinite;
    -o-animation: 500ms fuell alternate infinite;

}

@keyframes fuell {

    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1.1);
    }

}

@-webkit-keyframes fuell {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }

}

header #bttn_h #bttn_fuel img {

    width: 45px;
    margin-right: 8px;
    margin-top: 3px;
    -webkit-animation: 7s wheel linear infinite;
    animation: 7s wheel linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* background-color: aqua; */

}

header #bttn_h #bttn_fuel:hover img {

    -webkit-animation: 1s wheel linear infinite;
    animation: 1s wheel linear infinite;

}

@keyframes wheel {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }

}

@-webkit-keyframes wheel {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }

}

header #menu_plus {

    display: grid;
    /* background-color: var(--blue-primary); */
    grid-area: menu;
    place-content: center;

}

header #bttn_p {

    height: 80px;
    width: 100px;
    background-color: var(--blue-primary);
    border: 0px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

header #bttn_p span {

    width: 60px;
    height: 9px;
    background-color: var(--orange-primary);
    margin-bottom: 10px;
    transition: 500ms ease;

}

header #bttn_p:hover span {

    transform: translateY(60%);
}

header #bttn_p:hover span:nth-child(2) {

    /* -webkit-animation: 300ms giro linear 1;
    animation: 300ms giro linear 1; */
    transform: translateX(140%);

}

header #bttn_p:hover span:nth-child(3) {

    transform: translateY(-60%);
}

/* @keyframes giro {

    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes giro {

    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
        transform: rotate(180deg);
    }
} */

header #bttn_p span:first-child {

    margin-top: 6px;

}

header #menu_plus nav {

    position: absolute;
    top: 75px;
    background-color: var(--blue-primary);
    color: var(--white);
    font-family: var(--font-nav);
    font-size: 20px;
    width: 290px;
    height: 500px;
    right: 0px;
    border-radius: 0px 0px 0px 5px;
    transform: translateX(100%);

}

header #menu_plus nav ul {

    height: 500px;
    width: 290px;

}

header #menu_plus nav ul li {

    line-height: 45px;
    padding-left: 30px;
    /* height: 100%; para ocupar todo el espacio de pantalla en diseño responsive del movil
    width: 100%; */

}

header #menu_plus nav ul li:hover {

    background-color: rgb(2, 87, 106, .2);
    list-style: disc;
    color: var(--orange-primary);

}

header #menu_plus nav ul li a {

    color: var(--white);

}

header #menu_plus nav ul li:nth-child(2) {

    margin-top: 20px;

}

header #bttn_p_x {

    height: 30px;
    width: 290px;
    border: 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: var(--blue-primary);
    margin-top: 20px;
    cursor: pointer;
    font-family: var(--font-bttn-fuell);
    color: var(--white);
    font-size: 20px;

}














/* .open {

    transform: translateX(0) !important;

} */


/* .close span {

    transform: rotate(45deg) translate(16px, 0px);

}

.close span:nth-child(2) {

    display: none;

}

.close span:nth-child(3) {

    transform: rotate(-45deg) translate(12px, 1px);

} */