#initial_max {

    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: back-bw 5s alternate infinite;
    -webkit-animation: back-bw 5s alternate infinite;
    overflow: hidden;
    justify-items: center;
    place-content: center;
    text-align: center;
    z-index: 90;
    background-attachment: fixed;
}

#initial_max img {

    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 150px;
    width: 100%;
}

@keyframes back-bw {

    from {
        background-image: url(/images/foto-subida-paso-estelvio-en-moto.webp);
    }

    to {
        background-image: url(/images/foto-subida-paso-estelvio-en-moto_B&W.webp);
    }
}

@-webkit-keyframes back-bw {

    from {
        background-image: url(/images/foto-subida-paso-estelvio-en-moto.webp);
    }

    to {
        background-image: url(/images/foto-subida-paso-estelvio-en-moto_B&W.webp);
    }
}

#hideOnScroll {

    display: grid;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    place-content: center;
    animation-name: h2_initial;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


@keyframes h2_initial {

    from {

        transform: scale(.5) rotateX(180deg);
    }

    to {

        transform: scale(1) rotateX(0deg);
    }
}


#initial_max h2 {

    position: relative;
    font-family: var(--font-true);
    font-size: 7.5rem;
    color: var(--white);
    text-shadow: 0px 4px 1px rgb(0, 0, 0, .5);
    padding-right: 5px;
}

.random_text {

    width: 100vw;
    max-width: 1200px;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.text {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: rotateX(180deg);
    transition: 500ms all ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: 500ms all ease-in-out;
}

.visibility {

    opacity: 1;
    transform: rotateX(0deg);
}


.hidden {

    opacity: 0;
    transition: 1s ease;
    transform: scale(0) rotateX(180deg);

}

.hidden_back {

    opacity: 1;
    transition: 1s ease;
    transform: scale(1) rotateX(0deg);
}