#initial_max {

    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    place-content: center;
    text-align: center;
    z-index: 90;

}

#animation_pixel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 80;

}

.container {

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.zoom-background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 10s ease-in-out;
}

/* cabiar img/video */


.zoom-background img {

    width: 100%;
    height: 100%;
    object-fit: cover;


}

#initial_max>img {

    position: absolute;
    margin-top: 30px;
    left: 0px;
    bottom: -2px;
    height: 150px;
    width: 100%;
    z-index: 80;
}

#img_zoom_ramdon img {

    position: absolute;
    object-fit: cover;
    top: 0px;
    height: 100%;
    width: 100%;
}

#initial_max #hideOnScroll {

    display: grid;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    place-content: center;
    /* margin-top: 180px; */
    animation-name: h2_initial;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes h2_initial {

    from {

        transform: scale(.5) rotateX(180deg);
    }

    to {

        transform: scale(1) rotateX(0deg);
    }
}

@-webkit-keyframes h2_initial {

    from {

        transform: scale(.5) rotateX(180deg);
    }

    to {

        transform: scale(1) rotateX(0deg);
    }
}

#web #initial_max #hideOnScroll h1,
h2 {
    position: relative;
    /* height: auto;
    width: auto; */
    font-family: var(--font-home);
    letter-spacing: 2px;
    font-size: 7.5rem;
    padding-left: 5px;
    color: var(--white);
    text-shadow: 0px 4px 1px rgb(0, 0, 0, .5);
    padding-right: 5px;
}

#initial_max .orange {
    flex-direction: column;
    margin-top: -50px;
}

#initial_max .orange h2:last-child {
    color: var(--orange-primary);
}



/* #initial_max #hideOnScroll span:first-child {

    padding-left: 15px;
}

#initial_max #hideOnScroll span:last-child {

    padding-right: 15px;
    color: var(--green-primary-);
}

#initial_max #hideOnScroll span h2 {


    color: var(--green-primary-);
} */

#initial_max .random_text {

    width: 90vw;
    max-width: 1200px;
    height: 70vh;
    overflow: hidden;
    position: relative;
    opacity: .92;
}


#initial_max .text {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -90px; */
    opacity: 0;
    transform: rotateX(180deg);
    transition: 500ms all ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: 500ms all ease-in-out;
    transition: opacity 0 ease 9.5s;

}




#initial_max .visibility {

    opacity: 1;
    transform: rotateX(0deg);
}

#initial_max .hidden {

    opacity: 0;
    transition: 1s ease;
    transform: scale(0) rotateX(180deg);
}

#initial_max .hidden_back {

    opacity: 1;
    transition: 1s ease;
    transform: scale(1) rotateX(0deg);
}

.hidden_hoome {

    opacity: 0;
    transform: scale(0);
}

.hidden_home_back {

    opacity: 1;

}

/* efecto flash */

#miElemento {
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    /* Inicia oculto */
    transition: opacity 1500ms ease;
    z-index: 100;
}