#initial_max {

    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    place-content: center;
    text-align: center;
    z-index: 90;
}

.container {

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.zoom-background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 10s ease-in-out;
}

/* #background-div {

    transition: all 10s ease-in-out;
} */

/* ._zoom {
    animation: zoom 11000 linear alternate;
    -webkit-animation: zoom 11000ms linear alternate;

}

@keyframes zoom {

    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes zoom {

    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
} */

.zoom-background img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

#initial_max>img {

    position: absolute;
    margin-top: 30px;
    left: 0px;
    bottom: -2px;
    height: 150px;
    width: 100%;
}

#img_zoom_ramdon img {

    position: absolute;
    object-fit: cover;
    top: 0px;
    height: 100%;
    width: 100%;
}

#initial_max #hideOnScroll {

    display: grid;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    place-content: center;
    animation-name: h2_initial;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes h2_initial {

    from {

        transform: scale(.5) rotateX(180deg);
    }

    to {

        transform: scale(1) rotateX(0deg);
    }
}

@-webkit-keyframes h2_initial {

    from {

        transform: scale(.5) rotateX(180deg);
    }

    to {

        transform: scale(1) rotateX(0deg);
    }
}

#initial_max h2 {

    position: relative;
    font-family: var(--font-home);
    /* font-family: "Eds-Market-Regular-Slant"; */
    /* font-family: "Eds-Market-Bold"; */
    letter-spacing: 2px;
    font-size: 7.5rem;
    color: var(--white);
    text-shadow: 0px 4px 1px rgb(0, 0, 0, .5);
    padding-right: 5px;
}

#initial_max h2:first-child {

    padding-left: 5px;
}

/* #initial_max #hideOnScroll span {

    font-family: var(--font-marker);
} */

#initial_max #hideOnScroll span:first-child {

    padding-left: 15px;
}

#initial_max #hideOnScroll span:last-child {

    padding-right: 15px;
}

#initial_max .random_text {

    width: 100vw;
    max-width: 1200px;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

#initial_max .text {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: rotateX(180deg);
    transition: 500ms all ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: 500ms all ease-in-out;
}

#initial_max .visibility {

    opacity: 1;
    transform: rotateX(0deg);
}

#initial_max .hidden {

    opacity: 0;
    transition: 1s ease;
    transform: scale(0) rotateX(180deg);
}

#initial_max .hidden_back {

    opacity: 1;
    transition: 1s ease;
    transform: scale(1) rotateX(0deg);
}

.hidden_hoome {

    opacity: 0;
    transform: scale(0);
}

.hidden_home_back {

    opacity: 1;

}