#pag-02_max {
    position: relative;
    display: grid;
    /* background-color: rgb(198, 195, 35); */
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 768px;
    background-image: url(/images/africa_europa_en_moto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-items: center;

}

#pag-02_max #content_02 {
    position: relative;
    display: grid;
    /* background-color: rgb(229, 16, 208); */
    max-width: 1200px;
    row-gap: 20px;
    column-gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35% 35%;
    height: 768px;
    width: 100%;
    place-content: center;



}

#pag-02_max #content_02 .card_02 {

    display: flex;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, .3);
    font-family: var(--font-primary);
    font-size: 40px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s ease-in-out all;
    -webkit-transition: 1s ease-in-out all;
    -moz-transition: 1s ease-in-out all;
    -o-transition: 1s ease-in-out all;
    border: 1px solid rgb(188, 99, 23, 0.4);

}

#pag-02_max #content_02 a {

    color: var(--white);
    padding: 16%;
    display: inline-block;
    line-height: 100px;
    /* width: 100%;
    height: 100%;
    text-align: center;
    align-items: center; */
}

#pag-02_max #content_02 #card_02_01 {

    /* background-color: black; */

}

#pag-02_max #content_02 #card_02_01:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}

#pag-02_max #content_02 #card_02_02 {
    /* background-color: rgb(255, 255, 255); */

}

#pag-02_max #content_02 #card_02_02:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}

#pag-02_max #content_02 #card_02_03 {

    /* background-color: black; */

}

#pag-02_max #content_02 #card_02_03:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}

#pag-02_max #content_02 #card_02_04 {


    /* background-color: rgb(255, 255, 255); */
}

#pag-02_max #content_02 #card_02_04:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}

#pag-02_max #content_02 #card_02_05 {
    /* background-color: black; */


}

#pag-02_max #content_02 #card_02_05:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}

#pag-02_max #content_02 #card_02_06 {

    /* background-color: rgb(255, 255, 255); */

}

#pag-02_max #content_02 #card_02_06:hover {

    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(188, 99, 23, 1);
    font-size: 30px;

}