#pag-02_max {
    position: relative;
    display: grid;
    /* background-color: rgb(198, 195, 35); */
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 850px;
    width: 100%;
    background-image: url(/images/back_home_initial_montando_el_munod_en_moto.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    justify-items: center;
    z-index: 99;
    background-color: var(--white-e9);
}

#pag-02_max #content_02 {
    position: relative;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px 280px;
    height: 850px;
    width: 100%;
    /* row-gap: 5px;
    column-gap: 5px; */
    place-content: center;
}

#pag-02_max #content_02 a {

    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;

}

#pag-02_max #content_02 a:hover {

    transform: scale(1.1, 1.1);
    z-index: 3;
}

#pag-02_max #content_02 a:hover #card_02_02,
#pag-02_max #content_02 a:hover #card_02_06 {
    margin-right: 5px;
}


#pag-02_max #content_02 a:hover #card_02_03,
#pag-02_max #content_02 a:hover #card_02_04 {
    margin-left: 5px;
}

#pag-02_max #card_02_03,
#pag-02_max #card_02_04,
#pag-02_max #card_02_02,
#pag-02_max #card_02_01,
#pag-02_max #card_02_06,
#pag-02_max #card_02_05 {
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

#pag-02_max #content_02 .card_02 {

    display: flex;
    position: relative;
    display: grid;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, .2);
    box-shadow: 0px 0px 3px grey;
    font-family: var(--font-home);
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 2rem;
    height: 92%;
    width: 92%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-transform: none;
    cursor: pointer;
    box-sizing: border-box;

}

#pag-02_max #content_02 a:active {
    transform: scale(0.95);
}

#pag-02_max #content_02 .card_02:hover {
    /* background-color: rgb(2, 87, 106, .8); */
    background-color: rgb(188, 99, 23, .8);
    /* transform: scale(105%, 105%); */

    /* border: 2px solid white; */
    /* border-radius: 100px; */
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#pag-02_max #content_02 h3 {
    position: absolute;
    /* font-size: 3rem; */
    color: var(--white);
    font-family: var(--font-home-2);
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 100ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    opacity: 1;
    word-wrap: break-word;

}

#pag-02_max #content_02 img {
    position: absolute;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    height: 80%;
    object-fit: cover;
    opacity: 0;
}

#pag-02_max #card_02_04 img {
    height: 90%;
}

#pag-02_max #card_02_01 img {
    margin-left: 20px;
    height: 75%;
}

#pag-02_max #card_02_02 img {
    height: 75%;
}

#pag-02_max #card_02_05 img {
    height: 85%;
}

#pag-02_max #card_02_03 img {
    margin-bottom: 10px;
    transition: 1s all ease;

}

#pag-02_max #card_02_06 img {
    height: 75%;
}

@keyframes icons_animation {

    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(2);
    }

}

#pag-02_max #content_02 .card_02:hover:hover h3 {
    /* transform: translateY(160%); */
    opacity: 0;
    /* animation: giro_li 300ms linear 1; */
    transform: scale(.8);
}

#pag-02_max #content_02 .card_02:hover img {
    opacity: 1;
    animation: icons_animation 300ms alternate 2;
}

/* ------ banner donacion */


#banner_fuel_home_max {

    position: relative;
    display: flex;
    height: 450px;
    width: 100%;
    z-index: 95;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--white-e9);

    /* border: 25px solid var(--white-e9); */
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    /* outline: 20px solid var(--white-e9);
    border-radius: 35px; */
}

#banner_fuel_home_max #banner_fuel_home_content {
    position: relative;
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#banner_fuel_home_max #banner_fuel_home_content video {
    position: absolute;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    opacity: .1;

}

#banner_fuel_home_max #banner_fuel_home_content #banner_fuel_home_content_content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#banner_fuel_home_max #banner_fuel_home_content #banner_fuel_home_content_01 {
    position: relative;
    display: flex;
    width: 25%;
    height: 100%;
    z-index: 5;
}

#banner_fuel_home_max #banner_fuel_home_content #banner_fuel_home_content_01:hover {
    height: 115%;
}

#banner_fuel_home_max .banner_pages {
    /* width: 95.3%; */
    width: 100%;
}

#banner_donacion button {
    position: relative;
    display: block;
    border: 0px;
    border-radius: 0px;
    background-color: #bab5b4;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

#banner_donacion button:active {
    box-shadow: inset 0px 0px 0px black;
    transform: scale(1);
}

#banner_fuel_home_max #banner_fuel_home_content #banner_fuel_home_content_02 {
    position: relative;
    display: flex;
    height: 100%;
    width: 75%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* max-width: 700px; */
    box-sizing: border-box;

    /* z-index: 3; */
    overflow: hidden;
}

#banner_fuel_home_content_02_content_h3 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transition: ease 300ms all;
}

/* #banner_fuel_home_max video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .1;
} */

#banner_fuel_home_max #banner_fuel_home_content #banner_fuel_home_content_02 h3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--black-secondary);
    font-family: var(--font-text-light);
    height: 90%;
    width: 90%;
    font-size: 2rem;
    z-index: 1;
    transition: ease 300ms all;

}