/* -------------------pag_04------------------ */

#pag_04_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--white-e9);
    z-index: 90;
    align-items: center;
    justify-content: center;
}

#pag_04_container h3 {
    display: block;
    height: 50px;
    width: 90%;
    font-family: var(--font-home-2);
    font-size: 2rem;
    color: var(--green-primary-);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#pag_04_container h3 a {
    color: var(--green-primary-);
}

#pag_04_content {
    position: relative;
    display: flex;
    /* background-color: rgb(198, 99, 23, .1); */
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#pag_04_content img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    object-fit: cover;
    transition: 500ms 300ms ease all;
}

#pag_04_content #icon_youyube {
    height: 100%;
    width: auto;
}

#pag_04_content a {
    position: relative;
    z-index: 8;
    cursor: pointer;
    height: 150px;
    width: 150px;
    transition: 300ms ease all;
}

#pag_04_content a:hover {
    transform: scale(1.1);
}

.icon_youyube:hover img {
    opacity: 0;
}

#pag_04_content iframe {
    position: relative;
    height: 100%;
    object-fit: cover;
    width: 1060px;
    display: none;
}

/* -------------------pag_05------------------ */

#pag_05-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--white-e9);
    z-index: 90;
    justify-content: start;
    align-items: center;
    justify-items: center;
}

#pag_05-content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

#pag_05-content_01 {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#pag_05-content_02 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: start;
}

#pag_05_blog {
    display: flex;
    position: relative;
    height: 70%;
    width: 100%;
    background-color: rgb(0, 0, 0, .2);
    border-radius: 5px;
    justify-content: center;
    align-items: end;
}

#pag_05_blog img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 4s ease all;
    opacity: .8;
}

#pag_05_blog img:hover {
    transform: scale(1.4, 1.4);
    border-radius: 5px;
    opacity: 1;
}

#pag_05-content_02-text {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    justify-content: center;
    align-items: center;

}

#pag_05-content_02-text p {
    font-family: var(--font-text-italic);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    height: 100%;
    width: 100%;
}

#pag_05-container h3 {
    display: block;
    height: auto;
    width: 100%;
    font-family: var(--font-home-2);
    font-size: 2rem;
    color: var(--green-primary-);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.bttn_a-web {
    position: relative;
    background-color: var(--marron-primary);
    display: flex;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 0px;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    cursor: pointer;
    margin-bottom: 30px;
    justify-items: center;
    justify-content: center;
}

.bttn_a-web:hover {
    transform: scale(1.1);
}

.bttn_a-web:hover h2 {
    transform: scale(.8);
}

#pag_05-container .bttn_a-web h2 {
    font-family: var(--font-social);
    color: var(--white);
    font-size: 1.2rem;
    line-height: .5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
    text-shadow: none;
}