#pag_03_max {

    position: relative;
    display: grid;
    /* background-color: var(--grey-ccc); */
    grid-template-columns: 100%;
    grid-template-rows: 850px;
    justify-items: center;
    background-image: url(/images/La_serie/Sin\ título-3.jpeg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    place-content: center;
    align-items: center;
    justify-content: center;
    z-index: 90;

}

#pag_03_max #content_03 {

    display: grid;
    max-width: 1200px;
    height: 850px;
    width: 100%;
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas:
        "f f f f h h h h"
        "f f f f b b b b"
        "f f f f t t t t"
        "f f f f t t t t"
        "f f f f t t t t"
        "f f f f t t t t";
    place-content: center;
    justify-content: space-between;



}

#pag_03_max #content_03 #card_03_01 {

    display: flex;
    grid-area: f;
    overflow: hidden;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

#pag_03_max #content_03 #card_03_01 img {

    object-fit: cover;
    height: 700px;
    width: 100%;
    transform: scale(1);
    transition: 1s ease-in-out all;
    -webkit-transition: 1s ease-in-out all;
    -moz-transition: 1s ease-in-out all;
    -o-transition: 1s ease-in-out all;

}

#pag_03_max #content_03 #card_03_01:hover img {

    transform: scale(1.1);

}

#pag_03_max #content_03 #h2_03 {

    display: grid;
    grid-area: h;
    font-family: var(--font-primary);
    font-size: 55px;
    color: var(--orange-primary);
    text-transform: uppercase;
    align-items: end;
    justify-content: center;

}

#pag_03_max #content_03 #bttn_03 {

    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 55px;
    height: 55px;
    width: 100%;
    grid-area: b;
    justify-content: space-between;
    margin-top: 20px;

}

#pag_03_max #content_03 #bttn_03 button:first-child {

    margin-left: 2px;
}

#pag_03_max #content_03 #bttn_03 button:last-child {

    margin-right: 2px;
}



.bttn_social {

    border: 0px;
    border-radius: 5px;
    font-family: var(--font-social);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: var(--white);
    cursor: pointer;
    transition: 500ms ease-in-out all;
    -webkit-transition: 500ms ease-in-out all;
    -moz-transition: 500ms ease-in-out all;
    -o-transition: 500ms ease-in-out all;
    overflow: hidden;

}

.bttn_social:hover {

    box-shadow: inset 0px 0px 4px black;
}

.bbtn_you {

    background-color: var(--youtube-primary);

}

.bbtn_you:hover {

    background-color: var(--youtube-secondary);
    color: var(--black);
    font-weight: 900;

}

.bbtn_you::after {

    content: "youtube";

}

.bbtn_you:hover::after {

    content: "suscribirme";
}

.bbtn_ing {

    background: var(--ing-primary);

}

.bbtn_ing:hover {

    background: var(--ing-secondary);
}

.bbtn_ing::after {

    content: "instagram";

}

.bbtn_ing:hover::after {

    content: "seguir";
}

.bbtn_tktk {

    background-color: var(--tktk-primary);

}

.bbtn_tktk:hover {

    background: var(--tktk-secondary);

}

.bbtn_tktk::after {

    content: "tiktok";

}

.bbtn_tktk:hover::after {

    content: "seguir";

}

#pag_03_max #content_03 #text_03 {

    grid-area: t;
    padding: 20px 30px 10px 30px;
    text-align: center;

}

#pag_03_max #content_03 #text_03 p {

    font-family: var(--font-text-italic);
    font-size: 1.2rem;
    font-weight: 300;

}