#pag_04_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--white-e9);
    z-index: 90;
    align-items: center;
    justify-content: center;
}

#pag_04_container h3 {
    display: block;
    height: 50px;
    width: auto;
    font-family: var(--font-home-2);
    font-size: 2rem;
    color: var(--green-primary-);
    margin-bottom: 50px;

}

#pag_04_content {
    position: relative;
    display: flex;
    background-color: rgb(198, 99, 23, .1);
    height: 70%;
    width: 100%;
    justify-content: end;
}

#pag_04_content iframe {

    height: 100%;
    width: 100%;
}